[2020-08-26 06:58] Axel-Naumann commented on #349
`CodeGeneration/Lambda.C` is fixed.

[2020-08-28 12:43] SylvainCorlay commented on #325
@vgvassilev @Axel-Naumann many many thanks for releasing `0.7`! I am super excited about this release.

I think this issue still stands though. It would have been interesting to start numbering releases with a patch version number (`0.7.0`) to make minor bugfix releases. For example, when packaging v0.7, I came across issue #352 and submitted a fix. We are including that fix as a patch in the cond

[2020-08-28 17:10] SylvainCorlay commented on #300
We are still seeing this issue with cling 0.7, which is now built with VS2017 unfortunately (conda-forge moved to VS2017).

[2020-08-28 17:46] bellenot commented on #300
VS 2017 is too old, many bugs have been fixed in Visual Studio since then, so it's maybe the reason

[2020-08-28 20:35] vgvassilev commented on #325
Sure, we can do that.

[2020-08-31 17:00] KOLANICH commented on #307
https://github.com/root-project/cling/blob/master/tools/packaging/README.md

BTW, on GitLab it is possible (I personally do that, but not for cling) to use GitLab pages generated by a pipeline to host a deb repo.

[2020-08-31 17:49] reikdas commented on #307
Maybe if cpt's `.deb` creation could be fixed, we can use cpt to package nightly binaries. @vgvassilev @Axel-Naumann

[2020-08-31 17:56] SylvainCorlay commented on #352
Fixed in #353.

[2020-08-31 18:10] SylvainCorlay opened #355 "Missing llvm_config include"
I realized that we never upstreamed that patch:

When packaging cling for conda, we need to apply the following patch for it to compiler properly. This has been the case since cling 0.4

[code]

Removing the patch causes the following failure:

<details>
2020-08-31T17:56:17.6909553Z ##[section]Starting: Run docker build
2020-08-31T17:56:17.6970177Z =================================================

[2020-09-02 08:19] Axel-Naumann commented on #307
README is updated, now we just need to check that cpt actually manages to build .dep packages. @reikdas do you want to give it a shot?

[2020-09-07 18:16] stephane-rolland opened #356 "Question: what is the correct url used by CPT for retrieving the cling-patches tar.gz ?"
I feel a bit intrigued, maybe I'm doing things awkwardly.

(A bit of context : I'm working on the packaging of Cling for NixOS system. As this system does not follow the traditionnal FHS, and uses its own philosophy and its own functional programming language, I cannot use rely on cpt.py for building things. Consequently I will try to mimic what cpt.py does.)

In the code of Cling Packaging Tool ,

[2020-09-09 07:48] #352 closed

[2020-09-09 11:32] reikdas commented on #356
Some information that might help you -

We don't need to use patched LLVM anymore. Please feel free to use the latest LLVM 5 release that you are able to.

But we do need to use the root-project patched version of Clang (at least for now). So I'll answer your question from that perspective since cpt has a similar code block for `fetch_clang` - https://github.com/root-project/cling/blob/master/tool

[2020-09-10 21:30] reikdas commented on #307
I had made some progress some months ago (I think motivated by @ax3l). The progress is here - https://github.com/vgvassilev/cling/pull/214. I took a look and it seems like I had given up due to some issues with gpg signing. I'll give it another try though - hopefully, it is not too difficult. :)

[2020-09-11 16:30] stephane-rolland commented on #356
Great. With your indication I can build clang and cling much better. Everything performs well until almost the end :-)
I still have an issue, but I'm not sure yet what's causing it, I'm gathering information to identify what's wrong.

The NixOs build system is complaining about the produced executable $out/bin/cling ($out is where we put produces files from compilation and so on). indeed it tells

[2020-09-11 17:09] stephane-rolland commented on #356
Now at first sight, I have the same exact error as @SylvainCorlay in the issue he opened recently, related to:

 undefined reference to `clang::RewriteBuffer::write(llvm::raw_ostream&) const'

[2020-09-12 11:21] stephane-rolland commented on #356
Just as a side-note, about the usage of fetch_llvm, I have not dug into the details at all, and I have not the background on the history of this tool which is several years old. However it was referenced more than once in the code.
I was probably mislead by these multiple references.

[2020-09-14 06:47] elix22 opened #357 "Compilation error : "'isComputedNoexcept': identifier not found ""
I followed the build instructions on the Github page.
This is a Windows build , but I got them same error on my Mac .

1 - wget https://raw.githubusercontent.com/root-project/cling/master/tools/packaging/cpt.py
2 - python cpt.py --create-dev-env Release --with-workdir=./cling-build/

The full error :
**D:\Cling-2\cling-build\cling-src\tools\cling\lib\Interpreter\ForwardDeclPrinter.cpp(493,13): err

[2020-09-15 09:02] elix22 commented on #357
@Axel-Naumann
I noticed that you made this change , which is causing compilation error  (at least for me).
https://github.com/root-project/cling/commit/4203690c46e438f6e43f1aaf8cb41b8b582c6002

Please advice .
Thanks.

[2020-09-22 11:26] sgsaenger opened #358 "cpt.py on non-Ubuntu/RedHat-linux"
I'm having trouble executing `./cpt.py --last-stable pkg` on arch linux:
- https://github.com/root-project/cling/blob/758b053e64c84baca0f5094d7d4d7d84e7f7cf60/tools/packaging/cpt.py#L2318
and
https://github.com/root-project/cling/blob/758b053e64c84baca0f5094d7d4d7d84e7f7cf60/tools/packaging/cpt.py#L2423
use the deprecated `platform.dist()` which has been removed somewhen in python 3 and thus crash

[2020-09-22 13:07] reikdas commented on #358
Thanks for pointing out those rather serious bugs! I am hoping to do a cleanup sweep through cpt in the very near future, where I'll try and fix these issues :)

For now, you can use `--current-dev=tar` just to get things working.

[2020-09-22 19:18] Axel-Naumann commented on #350
Clarified, I guess...

[2020-09-22 19:18] #350 closed

[2020-10-09 09:01] Islam0mar commented on #357
The downloaded clang is an older version:
`tools/clang/include/clang/Basic/ExceptionSpecificationType.h` doesn't define  `isComputedNoexcept'`
I modified `ForwardDeclPrinter.cpp(493)` to use `FT->getExceptionSpecType() == EST_ComputedNoexcept` and it works.

[2020-10-09 09:22] elix22 commented on #357
Right , I did the same thing
Reverted back commit https://github.com/root-project/cling/commit/4203690c46e438f6e43f1aaf8cb41b8b582c6002
Thanks

[2020-10-09 09:41] Axel-Naumann commented on #357
I will update your clang branch to contain the backported commits. I will let you know once done.

[2020-10-11 09:11] SylvainCorlay opened #359 "Definition shadowing prevents template specialization"
With the following code showing template specialization

[code]

Cling complains about undeclared identifiers.

[code]

[2020-10-11 11:18] SylvainCorlay commented on #356
Thanks @stephane-rolland. Yes I think the patch in question should be included in cling.

[2020-10-11 11:57] SylvainCorlay opened #360 "On the enabling and disabling the allowing of redefinitions"
It appears to be possible to enable / disable the allowing of redefinition with the following

[code]

However the `cling/Interpreter/Interpreter.h` headers includes LLVM headers while llvm-dev is not a runtime requirement of cling. This matters when packaging cling for e.g. conda because we try to keep runtime dependencies minimal.

- Would it be possible (or would you accept a PR) to make provid

[2020-10-13 22:44] serjepatoff opened #361 "Embedding Cling in iOS app"
Is it possible to embed cling on platforms where JIT (VM_PROT_WRITE+VM_PROT_EXECUTE pages manipulation) is explicitly forbidden? Like iOS?

I want to make C++ tutor+playground app for students working on iPad.

I.e. can Cling interpret LLVM bitcode directly, without JITing, in the grassroot sense of the word “interpretation”? Of course it will be slow, but for edu and experiment purposes it is ok.

[2020-10-13 22:50] serjepatoff opened #362 "Execute IR/bitcode instead of source?"
Not an issue but a question.

Can Cling load and execute intermediate code representations like LLVM IR? Of course compiled by the same clang as that Cling was compiled with, because compatibility may break.

[2020-10-14 07:14] ax3l commented on #307
@reikdas I was a bit busy over the last months and am fully booked. Please don't hesitate to reach out once `cpt` works and I can push a few CI/CD scripts.

[2020-10-14 17:26] Axel-Naumann commented on #357
Should be fixed, could someone confirm, please?

[2020-10-14 17:28] Axel-Naumann commented on #360
@jalopezg-uc3m @pcanal what do you think? Some new dot-command maybe?

[2020-10-14 17:31] Axel-Naumann commented on #362
Not lame at all!

What is love to see is an extension of `.L` which can currently handle source and shared libraries. It would be nice to teach it how to lower IR and static archives! That functionality should already be in llvm, it's just a question of weaving the right interfaces together. Volunteers?

[2020-10-14 17:33] Axel-Naumann commented on #361
We are only pursuing JIT compilation, not interpretation. To my knowledge what you want would need quite some development work... OTOH some interpreters available on iOS also generate binary code IIUC, so maybe there's a way?

[2020-10-14 17:34] Axel-Naumann commented on #361
And let me know once it's okay to close this issue!

[2020-10-14 17:34] Axel-Naumann commented on #359
@jalopezg-uc3m comments? :-)

[2020-10-14 17:39] Axel-Naumann commented on #336
Fixed!

[2020-10-14 17:39] #336 closed

[2020-10-14 17:59] reikdas commented on #357
Works for me :) Thanks!

[2020-10-14 18:05] SylvainCorlay commented on #360
at the momwnt we are not supporting dot commands yet in xeus-cling (but will as soon as I  have a couple of days to look at it). a c++ api would be perfect!

[2020-10-14 18:39] #357 closed

[2020-10-14 20:52] serjepatoff commented on #361
There are 2 kinds of in-app compilation available on iOS.

1. Indirect bytecode emitting that will be interpreted by machine code.

2. Usage of system-wide JavaScriptCore.

In-app emitting of machine code, either ahead of time or just in time is prohibited by using simple technique: memory sections with execution bit set are not available for write, and sections with write bit set are not availabl

[2020-10-15 09:40] SimeonEhrig commented on #357
I can also confirm, that it works.
For the others the backport was made in the clang branch. So please update your clang project.

[2020-10-15 14:55] pcanal commented on #360
Maybe we should have a lighter weight header:
[code]

[2020-10-15 22:49] jalopezg-uc3m commented on #360
Indeed.  We might offer a separate interface for configuring these aspects.  I took this week off; I will take care of this as soon as I am back.  :-)

[2020-10-15 23:00] jalopezg-uc3m commented on #359
PR #6571 solves this as a side-effect, but it is still work in progress.  :-)

[2020-10-16 06:14] SylvainCorlay commented on #360
Awesome!

[2020-10-21 06:51] vgvassilev commented on #361
Thank you!

[2020-10-21 06:51] #361 closed

[2020-10-22 06:17] vickeykumar opened #364 "error seen when c mode is used: error: ValueExtractionSynthesizer could not find: 'cling::runtime::internal::setValueNoAlloc'."
when c mode is used with cling, below error is seen when trying to print real time values:

$ **cling -xc**

***************** CLING *****************
* Type C code and press enter to run it *
*            Type .q to exit            *
*****************************************
[cling]$ int i
input_line_2:3:2: error: ValueExtractionSynthesizer could not find:
      'cling::runtime::internal::setValu

[2020-11-13 09:19] thomasjm opened #368 "cpt.py seems to check out the wrong Clang revision"
I'm trying to build Cling 0.7 by calling `cpt.py` like this: `./cpt.py --last-stable tar`.

I notice it is choosing the `llvm_revision` to be `release_50`, and then it's checking out the corresponding Clang revision on this line:

https://github.com/root-project/cling/blob/70163975eee5a76b45a1ca4016bfafebc9b57e07/tools/packaging/cpt.py#L352

As a result, it tries to check out the Clang tag `cling-

[2020-11-18 03:39] zhc134 opened #369 "Redefinition of function with namespace"
Hi, in `cling 0.7.0`, function redefinition is supported, which is great!
I can run the following cell and redefine function as many time as I want
[code]

However, if I specify namespace, an error will occur
[code]

[code]

Is there a way to work around this?

Also, I want to redefine `system` function like
[code]
However, when I call `system("123")`, I still get the original `system` function.

[2020-11-20 09:11] hzhangxyz commented on #331
Same here, I can also repro core dump by

[code]

full log are
[code]

My cling version is 0.7

[2020-11-20 09:15] hzhangxyz commented on #193
Also happened in cling 0.7
[code]

I start cling by `cling -std=c++17`

[2020-11-23 16:53] matteosecli opened #370 "'__emutls_get_address' unresolved while linking"
Hello, first of all thanks for this awesome project! 🙂

I'm opening this bug report as I didn't find an already open one about this issue; sorry in advance if it's a duplicate.

I'm on MacOS 10.14.6 and I'm experiencing the same issue described in https://github.com/jupyter-xeus/xeus-cling/issues/161: typing

[code]

gives

[code]

I've first tried to follow some suggestions and upgrade the llvm b

[2020-11-24 07:28] hzhangxyz opened #371 "Cannot use `gCling->allowRedefinition()` in script"
Hello, I am using cling 0.7, I can use allow redefinition feature in REPL but in script, it does not work

`cat init.C` get
[code]

`cling --version` get
[code]

`cling < init.C` run correctly and get
[code]

However
[code]

If I run `cling init.C` directly, I get similar error
[code]

[2020-11-25 21:18] SylvainCorlay commented on #355
@vgvassilev what do you think of this? (and linked issue)

[2020-11-25 21:19] SylvainCorlay commented on #359
@jalopezg-r00t should we close this then?

[2020-11-25 21:20] SylvainCorlay commented on #360
Hey @jalopezg-r00t is this something you got to look at?

[2020-11-26 11:18] jalopezg-r00t commented on #359
Hello @SylvainCorlay,

Yes, sorry, I forgot to close this issue.  The fix is already part of the master branch; the problem should be fixed there.  :-)  Thanks for reporting.

Cheers,
J.

[2020-11-26 11:22] jalopezg-r00t commented on #360
Thanks for pinging!  Sorry, I was working on different stuff.  I will work on this in the next days.  :-)

[2020-12-02 03:34] tripulse commented on #362
LLVM already has a tool to execute LLVM bitcode.

[2020-12-02 03:39] tripulse opened #372 "cpt.py disfunctioning"
The build instructions on the front README page were used to attempt building `cling` right from source because the published binaries' architecture (`i386`) doesn't match with mine (`amd64`).

Each time I run `cpt.py` it's malfunctioning with the following error.
[code]

[2020-12-02 05:53] reikdas commented on #372
Can you please share the complete stack trace of the error? Also, what flags are you invoking cpt with?

[2020-12-02 06:35] tripulse commented on #372
The same described in the README.

On 02/12/2020, Pratyush Das <notifications@github.com> wrote:

[2020-12-02 07:50] reikdas commented on #372
It seems like the "Overriding Default Variables" section of the README could be a little outdated.

Can you try using cpt like -
`python cpt.py --check-requirements --current-dev=tar`

[2020-12-03 15:58] SimeonEhrig commented on #370
For my issue #321, I also tried the new LLVM 9 base, and the problem still exists. Unfortunately t's some time ago since I tested it and I forgot to write it down, but if I remember correctly, besides upgrading to a new LLVM version, upgrading to ORCJITv2 is necessary to solve the problem. But I am not 100% sure if I remember correctly.

[2020-12-05 12:25] matteosecli commented on #370
Hi @SimeonEhrig, thanks for the insight! I could reproduce your issue with Cling v0.7, but if I use the code in the `upgrade_llvm90` branches of `https://github.com/vgvassilev/[llvm|clang|cling].git` then at least that issue seems to be solved. So maybe, apart from the upgrade to the LLVM 9 base, some work has been done to upgrade to ORCJITv2 as well (I honestly don't know enough about this to go

[2020-12-14 09:26] jalopezg-r00t commented on #360
Fix already in `master` branch.  Closing.

[2020-12-14 09:26] #360 closed

[2020-12-14 10:33] jalopezg-r00t commented on #371
Hello @hzhangxyz,

This is the intended behavior for cling.  In the first case (stdin redirect), input is handled as if it were typed by the user at the prompt; this means that we can apply some transformations, e.g. wrap statements.

On the contrary, the other two cases that you provide are equivalent and the source code is parsed as-is.  In this case, input is expected to be legal C++ code, i.e.

[2020-12-14 10:33] #371 closed

[2020-12-14 10:42] jalopezg-r00t commented on #369
Hello @zhc134,

Providing a new definition for a namespace member is not currently supported.  In regards to redefining the `system()` function, we are currently working on allowing this, but it still has some caveats.  I will leave this issue open until it completely works.

Cheers,
J.

[2020-12-15 14:02] SimeonEhrig commented on #370
Thanks for the hint. You are right. I don't know what I did wrong last time, but with LLVM 9 update my `std::future` problem is solved. I have a little insight into Vassil's development and know that LLVM 9 will not change the ORCJIT API. But that is one of the next tasks, because ORCJITv1 is deprecated.

[2020-12-16 07:58] SimeonEhrig opened #373 "CI fails since redifintion interface update"
Since commit 904796d2bbf9dc08413dd188ff618a34d55d8d31 which changes the interface to enable redefinition, the `test/CodeUnloading/DeclShadowing.C` test failes.

@jalopezg-r00t Can you please fix this.

[2020-12-16 11:53] matteosecli commented on #370
Glad to hear that at least the `std::future` issue is solved! 🙂

[2020-12-16 17:31] jalopezg-r00t commented on #373
Sorry!  Thanks for reporting, @SimeonEhrig.  Fixed in commit c054ac284042aadbe6c4cb40842a3c3d6923d8d8.

Cheers,
J.

[2020-12-16 17:31] #373 closed

[2020-12-30 14:59] deliciouslytyped opened #374 "Cling segfaults trying to load another clang-cpp"
I'm trying to poke at some stuff with Clang ASTs, but apparently cling crashes trying to load another clang-cpp library. I'm guessing the issue is cling's internal clang and the other library conflict. Will this ever work? / Can this be made to work?

It might be necessary to do some manner of "sandboxing" such that a cling component is injected into a separate process that does the actual work? I

[2020-12-30 21:28] deliciouslytyped commented on #374
Here is the output immediately before the backtrace, with `LD_DEBUG=all`
[code]

[2020-12-31 15:21] schra opened #375 "References are not part of the printed type"
I find it unexpected that references are not part of the printed type. For example:

    $ cling --version
    0.8~dev

    $ cling -std=c++17
    ****************** CLING ******************
    * Type C++ code and press enter to run it *
    *             Type .q to exit             *
    *******************************************
    [cling]$ constexpr char s1[] = "abc";
    [cling]$ constexpr

[2021-01-04 16:00] SylvainCorlay commented on #359
This is great thanks!

Would you consider tagging a 0.7.1 release with the latest fixes?

[2021-01-06 08:52] SylvainCorlay commented on #325
Hey @vgvassilev would you guys consider tagging a 0.7.1 version as of current master?

I am especially interested because of the fix to #359.

[2021-01-09 15:22] mulderp opened #376 "Prebuilt binary on OpenSuse"
Hello,
I am trying to run the pre-built cling package from https://root.cern/download/cling/

On my OpenSuse machine I get:

[code]

Do you have a pointer how to run this package (the custom build is one option but it is running for 1h already without any progress output from cpt.py )

Thanks!

[2021-01-09 16:02] mulderp commented on #376
someone pointed me to follow the install strategy pointed out here: https://iscinumpy.gitlab.io/post/root-conda/

[2021-01-09 16:07] mulderp commented on #376
Also here is the current glibc info from my shell:

[code]

[2021-01-09 16:14] mulderp commented on #376
It seems a newer glibc version will be added in OpenSuse Leap 15.3 https://en.opensuse.org/Portal:15.3

[2021-01-11 13:17] vgvassilev commented on #325
@SylvainCorlay v0.8 was tagged!

[2021-01-11 15:23] SylvainCorlay opened #377 "Adding a cling-v0.8 reference to the clang fork"
For the conda packaging of cling, and of the clang variants required to build cling, we automatically refer to the revision corresponding to the cling version.

It would be really nice to add a `cling-v0.8` tag to the clang repository at `root.cern.ch/git/clang.git`, even if it points to the same commit as `cling-v0.7`.

Cf. https://github.com/conda-forge/clangdev-feedstock/blob/5.x/recipe/meta.ya

[2021-01-11 16:03] SylvainCorlay commented on #376
@mulderp note that you can use the conda package for cling on most linux distributions.

[2021-01-12 05:45] SylvainCorlay commented on #325
@vgvassilev this is great news!

I don't see the tag on GitHub yet. Does it still have to be pushed?

[2021-01-12 13:12] SylvainCorlay commented on #377
It seems that the tag for cling v0.8 was also not pushed.

[2021-01-12 20:31] mulderp commented on #376
Thanks - Indeed conda install seems to work quite well for OpenSuse too.
Now trying to install Cling-xeus combo:

[code]

[2021-01-12 20:39] SylvainCorlay commented on #376
@mulderp I recomment not using the full anaconda install, but e.g. miniconda, or even (much) better miniforge (https://github.com/conda-forge/miniforge) which is maintained by the conda-forge community, and available on many more platforms. Miniforge is much smaller than anaconda and is really open-source.

Also, miniforge defaults to conda-forge, so no need to specify `-c conda-forge`.

If you us

[2021-01-12 22:31] SylvainCorlay commented on #377
OK, now both tags have been pushed. Closing.

[2021-01-12 22:31] #377 closed

[2021-01-13 10:37] SylvainCorlay opened #378 "The cling-v0.8 tag on cling-patches is pointing to the wrong commit."
It is currently pointing at the same commit as cling-v0.8, and it should point to the current tip of the cling-patches branch.

cc @ax3l @vgvassilev

[2021-01-13 11:00] SylvainCorlay commented on #378
Ping @jalopezg-r00t @bellenot in case someone can move the tag to the right commit.

[2021-01-13 16:18] SylvainCorlay commented on #378
Discussed directly with @vgvassilev who just moved the tag.

[2021-01-13 16:18] #378 closed

[2021-01-13 19:26] chenrui333 opened #379 "cling 0.8 release build issue"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>build failure</summary>

[code]

</details>

Full build log is in here, https://github.com/Homebrew/homebrew-core/runs/1695928596
relates to https://github.com/Homebrew/homebrew-core/pull/68925

[2021-01-14 06:42] SimeonEhrig commented on #379
Did you pulled the latest commits on the `cling-patches` branch in the clang repository? In the past, I had the same error and it was fixed.

[2021-01-14 22:28] lf- commented on #331
Reproduced with symbols on `cling-Arch Linux--x86_64-0.9~dev-2124965`

[code]

[2021-01-14 23:20] SylvainCorlay commented on #359
Hey @jalopezg-r00t FYI, this issue is still occuring with cling 0.8.

Definition shadowing prevents template specialization.

I think we should re-open that issue.

[2021-01-15 01:07] chenrui333 commented on #379
nope, let me check on it.

[2021-01-15 01:09] chenrui333 commented on #379
@SimeonEhrig what patch tag should I use for clang and llvm?

[2021-01-15 01:12] chenrui333 commented on #379
for clang, here are the release tags I saw

[code]

for llvm:

[code]

[2021-01-15 01:13] chenrui333 commented on #379
have seen `r302975` in one of the previous PRs, https://github.com/Homebrew/homebrew-core/pull/47309

[2021-01-15 12:41] jalopezg-r00t commented on #359
Thanks for reporting, @SylvainCorlay!  I will take a look again!

[2021-01-16 12:11] mulderp commented on #376
Thanks, this works nicely:

   1) Download Miniconda Installer from: https://docs.conda.io/en/latest/miniconda.html
   2) $ sh Miniconda3-latest-Linux-x86_64.sh  # wait 5 mins and reload environment
   3) Install cling and xeus:

      conda create -n cling
      conda activate cling  # Or `source activate cling` for conda < 4.6

      conda install xeus-cling -c conda-forge

[2021-01-16 12:11] #376 closed

[2021-01-16 17:52] chenrui333 commented on #379
ping @SimeonEhrig

[2021-01-17 13:54] SylvainCorlay commented on #376
Hi @mulderp I don't recommend using miniconda over miniforge, because this typically leads to mixing anaconda and conda-forge channels.

1. Download mambaforge for your platform at https://github.com/conda-forge/miniforge#mambaforge
2. Install mambaforge
3. `mamba install xeus-cling`

No need to specify `-c conda-forge` and this is guaranteed to get everything from conda-forge. The anaconda channe

[2021-01-17 16:22] mulderp commented on #376
Thanks, I agree, the mamba user experience feels good.
I was able to install Jupyterlab but when trying

   mamba install xeus-cling

I get:

    Problem: nothing provides requested xeus-cling

[2021-01-17 16:45] SylvainCorlay commented on #376
@mulderp specifying conda-forge is still requires when starting from miniconda. I recommend starting from miniforge or mambaforge to prevent mixing channels.

[2021-01-18 07:56] SimeonEhrig opened #380 "cling-v0.7 and cling-v0.8 tag missing in llvm repository"
To be consistent, the tags for cling 0.7 and 0.8 should also be added to the llvm repository. At the moment the latest tag is `cling-v0.6`.

"Related" to issue: #378

[2021-01-18 08:07] SimeonEhrig commented on #379
@chenrui333
Sorry for the late reply. I was busy over the weekend. Sorry as well, I made a mistake. The name of the branch is `cling-patches`.
The current commit hashes are:
- llvm: 9c749361ba8c2d400b83d8cc5c544287465b7489
- clang: 7a13d39940cfd2bd1f486cb8b70a4ce09c076222

With the current `cling-patches` branches, I can successful build the current master.

To be sure, you can check out the `clin

[2021-01-18 12:39] jalopezg-r00t commented on #359
Hello @SylvainCorlay,

The example above works for me with cling-0.8.  The only required change is to add `#include <iostream>`, as it is required to use `std::cout`.

Can you please provide an example that make it fail?

Cheers.

[2021-01-18 18:26] chenrui333 commented on #379
yeah, I noticed the tags were missing for llvm (it was built fine with `cling-0.7`, so I did not report that issue :) ).

[2021-01-18 18:30] chenrui333 commented on #379
@SimeonEhrig do mind tagging those two commits (I could not do the branch checkout on the homebrew side)

[2021-01-18 21:08] SylvainCorlay commented on #359
Apologies. Somehow, the build of xeus-cling on conda picked up 0.7. Closing again.

[2021-01-18 21:08] #359 closed

[2021-01-19 07:30] SimeonEhrig commented on #379
Technically not, because nothing has changed in llvm repo since version 0.6. But for manuals and scripts it is better to have the same tags to not confuse other people and my future self.

[2021-01-22 09:48] Axel-Naumann commented on #115
@SimeonEhrig what's left to do here?

[2021-01-23 07:49] NobodyXu opened #381 "cpt.py failed to detect compiler: AttributeError: 'str' object has no attribute 'decode'"
I am running `cpt.py` on my x86_64 systemd gentoo that has `python3.8.6` installed and used as the default python interpreter:

[code]

I looked into function `exec_subprocess_check_output` and found the reason for the error:

[code]

The function `exec_subprocess_check_output` has already `decode` the `bytes` into `str`, but in line 2037, where the error occurs, it is **decoded again**:

[code]

[2021-01-23 07:52] NobodyXu commented on #381
I have submitted a PR to fix this error.

[2021-01-26 20:34] SimeonEhrig commented on #115
@Axel-Naumann Some basic things like CUDA `__constant__` memory. I don't have a complete list because I haven't had time to fix the known issues. Also some compiler flags are not working at the moment, which are common. For example, I'm stuck with my [PR](https://github.com/root-project/root/pull/6707) to support the `--cuda-path` argument. I'm trying to solve the failed root tests, but it's not a

[2021-01-27 02:33] yurivict opened #383 "error: no member named 'addOverlay' in 'clang::CompilerInvocation'"
cling-0.8 fails with llvm-10:
[code]
Same error with the oldest available llvm-6,

LastKnownGoodLLVMSVNRevision.txt says that last llvm version is 50 which is EOLed.

[2021-01-27 06:52] SimeonEhrig commented on #383
You need to use the Clang and LLVM fork from Root, because they include patches for Cling: https://root.cern/cling/cling_build_instructions/

[2021-01-27 23:03] Eximius opened #384 "Variable template instantiation does not create static constexpr member"
This breaks ROOT::RDataFrame, among other things.

In RDataFrame's case TypeTraits<ArgTypes>::list_size does not exist.

Even though  the static member exists in `TypeTraits.hxx`:
[code]

Reproduce with:
[code]

Or  with:
[code]

Exists both on latest swan
![image](https://user-images.githubusercontent.com/565049/106065386-85a25c00-60fb-11eb-8d0a-ab428f0dc4dc.png)

and local archlinux:
[code]

[2021-01-28 01:12] Eximius commented on #384
It needed
[code]
in the macro .C file for some reason. Confusing. Never written in the reference docs seemingly.

[2021-02-05 08:35] SimeonEhrig opened #385 "CI failes because of svn export error in cpt.py"
The current CI jobs fails, because the command `svn export http://llvm.org/svn/llvm-project/llvm/branches/release_50/utils/FileCheck FileCheck` in the `cpt.py` script fails: https://github.com/root-project/cling/runs/1681513196

I think, this happens, because the llvm project moved from svn to git and at some point, they deactivate the svn repository.

[2021-02-05 08:35] SimeonEhrig commented on #385
ping @reikdas

[2021-02-10 17:24] SimeonEhrig opened #386 "GPU runner for CI"
Today, I heard that are GPUs runner in the CERN Gitlab are available: https://gitlab.cern.ch/rbritoda/gitlab-runner-public
Technically, it possible to use this runners for GitHub. We do it in our projects, e.g. cupla: https://github.com/alpaka-group/cupla/tree/dev

It works over `Gitlab.com`. The GPU runners can be registered on `GitLab.com` and they are available for GitLab-CI jobs. To make the r

[2021-02-16 19:26] mmoelle1 opened #387 "std::future kills kernel"
When running the following code
[code]
in the official Binder link https://mybinder.org/v2/gh/jupyter-xeus/xeus-cling/stable?filepath=notebooks/xcpp.ipynb then the kernel terminates with the following error:

This happens for `stable` and `master` and also the latest tags `0.12.0`, ...

What I find strange is that `!cling --version` yields `0.8` whereas I would expect `0.12`.

Any help is apprecia

[2021-02-17 04:50] reikdas commented on #385
Fixed in master.

[2021-02-17 04:50] #385 closed

[2021-02-22 20:32] SimeonEhrig commented on #370
@matteosecli I made a mistake when testing the `std::future` problem. I used Clang 9 to build Cling and did not realize that the compiler linked cling with libc++, which is also provided by llvm. This fixed the problem. But if you use the libstdc++, for example if you compile with g++, the problem still exists.

[2021-02-22 20:35] SimeonEhrig commented on #387
I have the same problem: https://github.com/root-project/cling/issues/321
A workaround is to compile Clang with the [libc++](https://libcxx.llvm.org/).

[2021-02-26 14:37] SimeonEhrig opened #388 "Upgrading LLVM and Clang repo for LLVM 9"
@Axel-Naumann @vgvassilev Congratulation for merging the LLVM 9 upgrade. But I believe you forgot to upgrade the official root Clang and LLVM repo.

* http://root.cern/git/clang.git
* http://root.cern/git/llvm.git

Can you please do this.

In the meantime, if someone tries to build the current cling version, she or he should use Vassil's froks.

* https://github.com/vgvassilev/clang/tree/upgrade_l

[2021-02-26 14:45] Axel-Naumann commented on #388
That's a known glitch - @vgvassilev will update these repos!

[2021-02-26 17:01] vgvassilev commented on #388
@SimeonEhrig, thanks for pinging. Can you retry now?

[2021-03-01 18:14] zainul1114 opened #389 "RuntimeError: Cannot find cling in $PATH. No cling, no fun."
Hi,
i am trying to install clang kernel on jupyterhub
Environment:
Python 3.6.9
jupyterhub 1.1.0
jupyterlab 2.2.0
[code]

https://github.com/root-project/cling/tree/master/tools/Jupyter
i have download cling(cling_2020-11-05_ROOT-centos7.tar.bz2) and added path to .bashrc and source it.
export PATH=/usr/local/cling/bin:/usr/local/cling/include:$PATH
export LD_LIBRARY_PATH=/usr/local/cling/bin:$LD_

[2021-03-01 19:28] SimeonEhrig commented on #388
@vgvassilev I works. Thanks for fixing it.

[2021-03-01 19:28] #388 closed

[2021-03-02 15:15] TomerGibor opened #390 "Need to update README.md installation notes to use python3 instead of running the python file directly"

[2021-03-03 15:21] sudo-panda opened #391 "Add option in cpt.py to control the number of cores used during make"
Running make with all cores while building might not be feasible for many. Like in my case the linker crashes due to the lack of memory when all my cores are being used by make. One can obviously edit the file to force the number of cores but having an argument to control the same would be better imo.

[2021-03-03 17:09] reikdas commented on #391
Have you tried `-DLLVM_PARALLEL_LINK_JOBS=<some value>` via the cmake extra args flag?

[2021-03-04 07:25] sudo-panda commented on #391
@reikdas thanks for the reply, I didn't know about that flag. I tried using that but the linker still crashes. :(

Also my computer freezes up frequently during the installation and restricting make to use a particular number of cores seems to be the way to fix that.

[2021-03-04 09:17] SimeonEhrig commented on #391
I'm not sure, which options the `cpt.py` tool uses, because I build cling via cmake. But my experience are:
- if you build cling with static libraries (default of cmake) it consumes much memory
- debug builds increases the memory consumption of the linker very much
- simultaneous multi threading can causes easily a out-of-memory problems (after a long freeze on Linux)

For example, our workstation

[2021-03-05 08:13] #390 closed

[2021-03-08 08:32] #266 closed

[2021-03-08 18:25] sudo-panda commented on #391
@SimeonEhrig it's the same reason that I think supporting an option to control the number of cores used to build while using cpt.py is a good idea.

[2021-03-10 17:43] SimeonEhrig opened #392 "[cuda] Generic C++ 14 Lamda function does not work"
# Problem

[code]

# Hint
Set C++14 on the device compiler works.

[code]

[2021-03-10 17:43] SimeonEhrig opened #393 "[CUDA] .L Metacommand does not work on the device Compiler"

[2021-03-10 17:44] SimeonEhrig opened #394 "Linking failure at device compiler with std (math?) library"
# Input

`cling -xcuda`
[code]

# Message

[code]

[2021-03-10 17:46] SimeonEhrig opened #395 "[CUDA] global __device__ memory doesn't work"
# Problem
Following code is valid, but the result is wrong:

[code]

A second problem, which could be the source of this miss behavior is, that the function `cudaGetSymbolAddress(void **devPtr, const void *symbol)` isn't C/C++ conform.

The usage of this function is:

[code]
The header cuda/include/cuda_runtime_api.h (l. 119) describes, that some function calls have to be handled by the nvcc, beca

[2021-03-10 17:46] SimeonEhrig opened #396 "[CUDA] __constant__ memory declaration doesn't work"
# Problem
The following code doesn't works in cuda mode:
[code]

The following error is thrown:
[code]

# possible cause
The bug should be inside the cling instance. Maybe the following source code will jited internal:
[code]

[2021-03-10 23:11] rohit11544 commented on #396
We need to declare the __constant__ variable as a global variable. But it is declared in the  __cling_Un1Qu31 function which makes it a local variable.

void __cling_Un1Qu31(void* vpClingValue) {
  __constant__ int array[1024];
;
}

## so simply declaring it outside the function will fixe this issue.

  __constant__ int array[1024];

void __cling_Un1Qu31(void* vpClingValue) {

}
this fixes #396

[2021-03-11 08:12] sudo-panda opened #397 "No rule to make target 'lit.site.cfg'"
When running `cpt.py` in the `Set variables` stage, I get the error:
[code]

[2021-03-11 08:31] SimeonEhrig commented on #396
@rohit11544  I believe you misunderstand something. What I declare as user is a global variable
[code]

Cling has a mechanism, which wraps statement. This allows to use statements in global space, which are normally not allowed in C++. For example:
[code]

For variables, this mechanism needs to be more clever, that you can use variables between different statements.
[code]
For this there is a mech

[2021-03-11 09:15] reikdas commented on #397
`cpt.py` is currently broken since Cling was updated to build using LLVM 9. It should be fixed very soon.

[2021-03-11 09:21] rohit11544 commented on #396
Thank you for the information Sir.

[2021-03-11 10:50] SimeonEhrig commented on #396
No problem. The function name `__cling_Un1Qu31` is typical for the wrapper mechanism, so I didn't add a hint that it is generated by Cling. For new developers this can be confusing.

[2021-03-12 14:50] chrisburr opened #398 "Modulemaps are not installed with current master"
899b3337fc25cb06d6b82d5451c5040515d94416 was not enough to fix the issue installing the modulemaps as they never get copied to `CMAKE_CURRENT_BINARY_DIR` during the build. I've workaround around it for now with the below patch but I don't think it's suitable for a PR as it will break the build of ROOT.

[code]

[2021-03-14 22:07] ivti opened #399 "linker error VS 2017 build on Windows"
When building with an actual checkout on Windows the build of cling itself fails with a linker error, while llvm and clang is completely compiled.

Is there any hint how to fix this ?

Thanks
Thomas

Here is the linker error:

cling.cpp
253>Auto build dll exports
253>   Creating library D:/work/libs/cling/src/build/Release/lib/cling.lib and object D:/work/libs/cling/src/build/Release/lib/cling.exp

[2021-03-15 08:49] SimeonEhrig commented on #399
Did you used the llvm[1] and clang[2] repositories from `root`? Cling requires some patches to llvm and clang to work.

[1] http://root.cern/git/llvm.git
[2] http://root.cern/git/clang.git

[2021-03-16 11:41] ivti commented on #399
(sorry for the delay. Answered first on the notification email and this is not forwarded here)

yes, Simon,

I followed the instructions on the official sites and the root forum.

For safety the git configs below.

There is a weired directory: src/tools/cling/.github

No idea where it comes from.

After some reading there come up the following ideas:

- upate of VS 2017

- VCvars*.bat execution be

[2021-03-16 13:29] sudo-panda commented on #230
I would like to work on this issue.

I have a doubt. Where will cling look for the file during startup? Will it be in the current working directory, a specific directory for cling, or in the PATH?

[2021-03-16 13:52] reikdas commented on #399
The `.github` directory contains GitHub workflows, for eg. CI.

Executing the VCvars*.bat file before cmake is important.

Are you by any chance using Ninja? Cling cannot be built on Windows using the Ninja generator as of now.

[2021-03-16 14:00] SimeonEhrig commented on #399
@reikdas Thanks for helping. I can give only basic support on Windows, because I'm developing on Linux.

[2021-03-16 14:25] ivti commented on #399
thanks for the replies.

We don't use ninja for good reasons.

cmake is normally not depending on the vcvars*.bat/cmd file for setting environment variables. It detects the toolchains normally by itsself. Also on Windows.

Anyway. We will iterate through the options of my last and @reikdas comments.
I will leave a result here, with compiler, cmake, python .. whatever versions and configs .... if s

[2021-03-16 14:31] Axel-Naumann commented on #230
We can learn from other tools, such as where `gdb` searches for `.gdb_init` - that seems like a good start.

[2021-03-16 17:38] vgvassilev commented on #317
Good points. We have been investing in that direction. See [here](https://reviews.llvm.org/D96033).

[2021-03-16 17:45] #317 closed

[2021-03-16 17:57] tgymnich opened #400 "Argument parser swallows -Xclang arguments that start with -l"
I tried loading a clang plugin with cling:
[code]

which resulted in:
[code]

I suspect, that the argument parser might have interpreted the first part of **-l**oad as -l.

[2021-03-16 18:24] ivti commented on #399
visual studio 2017 updated, vcvarsx86_amd64.cmd used, cmake 3.15.0,

Got the same error.

What I found now for the cling.exe project.

The linker get's additional options with 2 export advices and it can't find it within cling.exe:
 <pre>/EXPORT:?getAsStringInternal@QualType@clang@@SAXPEBVType@2@VQualifiers@2@AEAV?"$"basic_string@DU?"$"char_traits@D@std@@V?"$"allocator@D@2@@std@@AEBUPrintingPolicy

[2021-03-17 10:47] ivti commented on #399
finally I found the reason for the error.
In src\tools\cling\tools\driver\CMakeLists.txt
is an extra section for MSVC: if(MSVC) ...
There are hard coded linker export definitions that don't seem to match the actual state of the llvm/clang library.
The signiture of getAsString was changed with a third parameter and this can't match the hard coded definition in CMakeLists.txt.

I can change this by

[2021-03-17 12:06] ivti commented on #399
I replaced the export symbol command as shown below. Links fine.
But: on exit of cling I get in case of error during usage a stack print with an error in getAsStringInternal. See second text box.
Without an error during usage no call stack appears.

I give up for the moment, because this needs more digging and without code knowledge this takes too much time.
Hopefully someone takes this up.

<pre>

[2021-03-17 12:25] SimeonEhrig commented on #399
@ivti Do you use the latest dev branch from yesterday? Axel fixed a segmentation fault at exiting cling. I'm not sure, if this is the same error, but could be.

[2021-03-17 14:15] ivti commented on #399
@SimeonEhrig

updated and compiled cling with Axel Naumanns last commit.
Doesn't change the behaviour described in the last message from me.

[2021-03-17 15:11] SimeonEhrig commented on #399
@ivti I already feared it, because of the symbol name in the error message. But it was a cheap try ;-)

[2021-03-17 19:46] sudo-panda commented on #230
Will `.cling_init` be a C/C++ file or do we add support for cling commands too?

[2021-03-18 15:00] Axel-Naumann commented on #230
I'd say we should support cling commands, too - this isn't a header but should contain prompt input.

[2021-03-18 15:06] sudo-panda commented on #230
@Axel-Naumann my current PR supports cling commands

[2021-03-18 17:19] ivti commented on #399
I found now that since 2017 these Export sections for cling.exe in src\tools\cling\tools\driver\CMakeLists.txt were not touched anymore while llvm and cling proceed. Bertran Bellnot and Frederich Munch were involved. It would be nice to learn why these exports and which are required.

[2021-03-18 18:48] reikdas commented on #381
Instead of using the `--compiler` flag to set the compiler, try using `--with-cmake-flags="-DCMAKE_C_COMPILER=/path/to/compiler -DCMAKE_CXX_COMPILER=/path/to/compiler"`

[2021-03-18 22:24] #381 closed

[2021-03-20 17:30] bmanga commented on #317
That's amazing! Thanks for the work :D

[2021-03-22 08:06] SimeonEhrig commented on #399
@bellenot can you help us with this problem?

[2021-03-22 08:09] bellenot commented on #399
I'll take a look

[2021-03-22 08:39] bellenot commented on #399
@ivti do you compile cling in 64 bit or 32 bit mode?

[2021-03-22 09:01] ivti commented on #399
64bit !

[2021-03-22 11:05] bellenot commented on #399
Can you try to remove those two lines from `llvm\tools\cling\tools\driver\CMakeLists.txt` as shown in this diff:
[code]
And BTW, @vgvassilev , it looks like the patch for `include\llvm\Support\type_traits.h` has not been back-ported to Cling...

[2021-03-22 16:35] ivti commented on #399
@bellenot thanks for the patch. I will try it later as I am in another project now.
With patching the CMakeLists.txt I have to run the configuration from start.

[2021-03-22 16:38] ivti commented on #399
I just uploaded the patched CMakeLists.txt as patch was a bit moaning about it. But seems to be correct.
[CMakeLists.txt](https://github.com/root-project/cling/files/6183821/CMakeLists.txt)

[2021-03-23 07:19] bellenot commented on #399
@ivti thanks, I'll submit a PR

[2021-03-23 09:09] ivti commented on #399
@bellenot I have not tested it! Sorry for the "seems to be correct".

[2021-03-23 09:10] bellenot commented on #399
Can you test it? It works for me with the latest version of VS 2019

[2021-03-23 15:48] sudo-panda commented on #396
I would like to work on this issue.

[2021-03-23 18:54] ivti commented on #399
@bellenot Huuh. Here we go. I am using still VS 2017. The minimum version required is VS 2017 with all updates, as I found it in CMake version hints. Also for Clang - on the website - Link from Axel Naumann. If VS 2019 is required then this should be at a minimum in the driver CMake files with this extra exports.
By the way: What is the reason for this extra exports. Is this required if the Clang

[2021-03-23 19:20] sudo-panda commented on #396
@SimeonEhrig could you tell me how do I get this when running cling:
[code]

[2021-03-23 21:18] #399 closed

[2021-03-24 07:04] bellenot commented on #399
@ivti Visual Studio 2019 is the minimal required version for ROOT, and I don't know if it's the same for Cling. Please try and let us know. And those symbols have to be exported to be somehow visible by the Jit. This should not be necessary and will be fixed in the future, hopefully.

[2021-03-24 08:34] ivti commented on #399
@bellenot I will test first 2017 and then 2019 using the buildtools. Hopefully this week.

[2021-03-24 08:55] bellenot commented on #399
Thanks. 2019 is fine, I tested it. I just want to know about 2017

[2021-03-24 17:28] SimeonEhrig commented on #396
Unfortunately, there is some time ago since I open this repo (I copied it from my fork). Therefore I'm note sure but I think, this code is just assumption, what is going on internal.

But I can give you an entry point for debugging. You can add a `llvm::outs() << input << "\n";` at the beginning of this [function]( https://github.com/root-project/cling/blob/df5fbb3c46a92a0841145cde0655e26c88ddff1b

[2021-03-25 19:50] dokempf commented on #392
Maybe this helps finding the issue: Exactly the same error occurs with xeus-cling when using a generic lambda. The issue is reported here: https://github.com/jupyter-xeus/xeus-cling/issues/258

[2021-03-26 09:06] SimeonEhrig commented on #392
@dokempf Thanks for the hint but I think there are different problems. My problem only occurs, if I use the CUDA mode (`-xcuda`). In normal C++ mode, everything is fine. Also my problem is located in the core cling. I think your problem is caused by Xeus-Cling or an old version of Cling. Nevertheless, we work on a upgrade of the Cling in Xeus-Cling: https://github.com/jupyter-xeus/xeus-cling/issue

[2021-03-27 16:28] ivti commented on #399
@bellenot first of all: good news it is build without linker errors with VS 2017 !

But when I run my little test, there is still a crash after ".q". See below.
The symbol getAsStringInternal  is the game. But this error needs a new issue ?

<pre>
D:\work\libs\cling\src\build\Release\bin>cling

****************** CLING ******************
* Type C++ code and press enter to run it *
*             Ty

[2021-03-29 07:14] bellenot commented on #399
Replacing `endl` by `"\n"` fixes the issue for me, so this might be related to the issue #300

[2021-03-29 10:08] ivti commented on #399
@bellenot first of all: good news it is build without linker errors with VS 2017 !

But when I run my little test, there is still a crash after ".q". See below.
The symbol getAsStringInternal  is the game. But this error needs a new issue ?

<pre>
D:\work\libs\cling\src\build\Release\bin>cling

****************** CLING ******************
* Type C++ code and press enter to run it *
*             Ty

[2021-03-29 10:19] ivti commented on #399
@bellenot It is not the endl that gives me a headache, it is the callstack output

(Sorry for the double reply, I am not so used with using github activities editing.)

Should I open a new issue for the following ?

@bellenot I tried now to compile with VS2019. I just dowloaded the buildtools 2019 for compilation. No success. I get 69 messages like the following (unfortunately German):

<pre>
	Lin

[2021-03-29 11:30] bellenot commented on #399
Please update cling, this should have been fixed last week or so

[2021-03-29 11:57] ivti commented on #399
@bellenot just updated cling. The same error type persists. only 50.

1. changed files with new cling version:

boost.modulemap
CMakeLists.txt
DynamicLibraryManager.cpp
IncrementalParser.cpp
Interpreter.cpp
LookupHelper.cpp
template.C
cpt.py

list of errors:

<pre>

	Line 84: D:\work\libs\cling\src\include\llvm/Support/type_traits.h(186,23): error C2338: inconsistent behavior between llvm:: and st

[2021-03-29 12:55] bellenot commented on #399
Did you update Clang as well?

[2021-03-29 13:51] ivti commented on #399
@bellenot seems to be the case. The vsbuildtools 2019 are brand new!

for safety here the git log output of src, tools/cling, tools/clang:

<pre>
src/
commit 43ad01796dee907e320eb06223f3bd61c335dd6c (HEAD -> cling-patches, tag: cling-patches-rrelease_90, tag: ROOT-patches-rrelease_90, origin/cling-patches, origin/ROOT-patches)
Author: Vassil Vassilev <v.g.vassilev@gmail.com>
Date:   Wed Mar 3 19:3

[2021-03-29 13:56] bellenot commented on #399
Please make sure that `include\llvm\Support\type_traits.h`, at lines 185-190, the code looks like the following:
[code]
And re-build

[2021-03-29 15:09] ivti commented on #399
@bellenot the ifdef part below is missing and it is compiling now for a while again ....
2017 has no problems with it ? Should then not the version number be used to exclude it?
#ifndef _MSC_VER
..
#endif

[2021-03-29 15:12] bellenot commented on #399
No idea, I don't have VS 2017 anymore

[2021-03-29 15:44] ivti commented on #399
@bellenot compiles now. Great. Still this nasty call stack. Do you have this also ?
<pre>
[cling]$ .q
 #0 0x00007ff71cf5e3b1 operator new[](unsigned __int64) (d:\work\libs\cling\src\build\Release\bin\cling.exe+0x2dee3b1)
 #1 0x00007ffb9e0f9d26 (C:\WINDOWS\System32\ucrtbase.dll+0x19d26)
 #2 0x00007ffb9e0f9c4b (C:\WINDOWS\System32\ucrtbase.dll+0x19c4b)
 #3 0x00007ffb9e0f9c04 (C:\WINDOWS\System32\ucr

[2021-03-29 16:00] bellenot commented on #399
Well, I only saw it when using `std::endl`, as in your example. Do you always see it?

[2021-03-29 16:40] ivti commented on #399
@bellenot you are right. I tested a bit wildly around. And only if I use 'endl' it happens. I have a certain talent to find immediately the combination that produces failures. My fate. I am dreaded for this, but it helps to get a better user experience afterwards.
Thanks so far
bye for now
Thomas

[2021-04-05 18:53] hickford opened #403 "No nightly binaries published since 2020-11-05"
The nightly binaries at  https://root.cern/download/cling/  (linked from https://root.cern/cling/cling_build_instructions/#binaries-cling ) appear not to have been updated since 2020-11-05 . Is something broken?

[2021-04-07 10:21] oshadura opened #404 "cpt.py --check-requirements doesn't detect Homebrew as a package manager and misdetect libz (zlib) dependecy"
Another interesting issue, I noticed about cpt.py that on macOS it looks like it requires Macports for an (optional?) Zlib dependency:
https://gist.github.com/oshadura/26ae5b7b07c37bfd2b19aa2671858147

I have homebrew and definitely I have libz here: /Library/Developer/CommandLineTools/SDKs/MacOSX11.1.sdk/usr/lib/libz.tbd (found version "1.2.11").

[2021-04-07 10:28] oshadura opened #405 "[cpt.py] Tests are failing with "ld: library not found for -lSystem""
Trying to build and test cling on MacOS 11.1 with `cpt.py`: `./tools/packaging/cpt.py --check-requirements && ./tools/packaging/cpt.py --create-dev-env Debug --with-workdir=./builds`, I am getting 6 test failures:

[code]
One of failures:
[code]

[2021-04-07 12:26] reikdas commented on #405
Just an addition - perhaps this is the motivation needed to add the [macOS 11.0 runner](https://github.com/actions/virtual-environments/blob/main/images/macos/macos-11.0-Readme.md) to Cling's GitHub Actions CI.

[2021-04-07 12:44] reikdas commented on #404
I think there might be other dependencies as well that are not detected as being already installed (and there is either a force reinstall or cpt offloads the installation check to the package manager used to install it; whichever is the default for the package manager) - this might need some investigation to figure specifically which dependency checks are failing.

On a related note, cpt should pr

[2021-04-08 06:33] reikdas commented on #397
This should be fixed in master now. Can you try it?

[2021-04-08 06:35] reikdas commented on #368
Can you checkout the latest master and try again?

[2021-04-08 06:43] thomasjm commented on #368
I actually ended up giving up on `cpt.py` and reconstructing the subset of it that I needed -- you can feel free to close this issue as far as I'm concerned.

[2021-04-08 12:25] reikdas opened #406 "[Meta issue] List of `cpt.py` improvements"
- [ ] Use a `if __name__ == "__main__"` block as program execution starting point in `cpt.py`
- [ ] No mutating global variables in `cpt.py`
- [ ] Minimize use of `subprocess` in `cpt.py`
- [ ] Making `cpt.py` `flake8` compliant (with appropriate error/violation codes)
- [ ] Fix `.deb` packaging (existing effort: https://github.com/vgvassilev/cling/pull/214) [#307]
- [ ] Fix `--verbose` flag not p

[2021-04-08 12:25] reikdas opened #407 "[Meta issue] List of CI and CD improvements"
- [ ] Add GitHub Actions CI instance that runs `clang-tidy` on PR/commit diff
- [ ] Add GitHub Actions CI instance that runs `clang-format` on PR/commit diff
- [ ] Add GitHub Actions CI instance that runs `codecov` on PR/commit
- [ ] GitHub Actions CD to automatically upload Linux/macOS nightly binaries (we can drop `.travis.yml` after this) [#403]
- [ ] GitHub Actions CD to automatically upload n

[2021-04-09 15:40] #368 closed

[2021-04-09 15:41] reikdas commented on #356
Closing since it looks like the original query was answered.

[2021-04-09 15:41] #356 closed

[2021-04-13 08:15] matteosecli commented on #370
@SimeonEhrig sorry for this super late response; thank you for the extra info!

[2021-04-13 13:25] Axel-Naumann commented on #370
So is this fixed? Can we close it?

[2021-04-13 14:24] matteosecli commented on #370
It wasn't last time I tried, but I see that in the meantime several commits have been pushed. Should I try again by compiling the latest committed version or some other branch?

[2021-04-14 07:38] SimeonEhrig commented on #370
Only if glib is also working. Alternatively, we drop the support for the glib, but I think this is not an option ;-)

[2021-04-14 07:45] Axel-Naumann commented on #370
I get (ROOT master, Mac11):
[code]
So whatever it is (this might be new sice llvm9) it's not yet solved. We need to check how `lli` does with OrcJITv1 on macOS. Any volunteer?

[2021-04-14 08:01] SimeonEhrig commented on #370
Does MacOS use `glib`? It's really `glib` specific, because `glib` use other names than the `libc++` from LLVM for thread local memory. Before LLVM 9, the translation of the names was not done for the JIT and I believe, with LLVM 9, it does not work out of the box.

It's on my todo list, but the priority is not to high.

[2021-04-14 08:21] matteosecli commented on #370
@Axel-Naumann I've just tried with the [latest nightly ROOT build for MacOS 10.14.6](https://root.cern/download/nightly/root_v6.25.01.macos-10.14-x86_64-clang110.tar.gz) and I still get the error documented in my OP; I have no clues on why it's different from the one you get. I also have no idea of what `lli` is, but I'm available to test whatever needed on my MacOS machine or to provide any addit

[2021-04-14 09:52] SimeonEhrig commented on #370
Maybe, I was a little bit lazy with the term `glib`. I mean the lib `libstdc++`, which is used by GCC.

But nevertheless, I also tried on my machine (Ubuntu 20.04) and I'm not affected of the bug.

[code]

But my linkage is strange:
[code]
It links against `libc++` and `libstdc++` so I can't say, if it is really MacOS related.

[2021-04-14 10:35] matteosecli commented on #370
@SimeonEhrig that's extremely interesting! I've tried to reproduce a linkage that looks like yours on my MacOS machine, by injecting `libstdc++` into `cling` via `DYLD_INSERT_LIBRARIES` (the equivalent of `LD_PRELOAD` on MacOS):

[code]

So, adding `libstdc++` seems to make it work! Btw, gcc 10 is installed via Homebrew. I've also tested your problem with `std::future`, and the injection of `libst

[2021-04-14 10:40] SimeonEhrig commented on #370
Can you please post the output of `ldd` or the equivalent MacOS tool with the `DYLD_INSERT_LIBRARIES` environment variable again.

[2021-04-14 11:05] matteosecli commented on #370
AFAIK, `otool -L` (equivalent of `ldd` on MacOS) does not list the libraries injected via `DYLD_INSERT_LIBRARIES`, as they are loaded at runtime. I've tried to do an `export DYLD_INSERT_LIBRARIES=...`, but that doesn't change the result.

However, the loaded libraries should just be the ones I listed earlier plus the one specified in `DYLD_INSERT_LIBRARIES`. Another way to achieve the same result

[2021-04-14 11:33] SimeonEhrig commented on #370
Okay, looks like, that are our problems are similar, but not equals. But I'm really interested, what's happens inside Cling if both libraries are linked in the same time. I thought the causes an error, but it solves an error. That's really surprising.

[2021-04-15 19:18] SimeonEhrig commented on #396
The PR #402 only fixes the problem that the `__constant__` attribute can be parsed. The following example does not work:

[code]

The result 0 and not 42. I think the problem is that each instruction is in a separate Translation Unit, because there is the same behavior in classic CUDA C++ when we use `__constant__` memory in different TU without  [separated compilation](https://developer.nvidia.co

[2021-04-16 19:12] sudo-panda commented on #396
Sorry for the late reply. I will look into it.

[2021-04-17 09:28] fslurrehman opened #408 "Compilation error on debian buster 64bit"
Hi,
I was compiling and got the error near completion of compilation. Is there any way to compile this correctly:

`In file included from /home/faisal/software/cling-build/cling-src/tools/cling/lib/Interpreter/IncrementalExecutor.h:13,
                 from /home/faisal/software/cling-build/cling-src/tools/cling/lib/Interpreter/IncrementalExecutor.cpp:10:
/home/faisal/software/cling-build/cling-sr

[2021-04-17 19:07] sudo-panda commented on #396
I tried passing the `-fgpu-rdc` to the CUDA compiler but it still fails.

[2021-04-17 19:43] vgvassilev commented on #396
CC @ioanaif @hahnjo

[2021-04-18 09:22] SimeonEhrig commented on #396
I think the solution is more complicated than simply passing the flag. Right now I'm trying to compile a static application with Clang/LLVM to understand what the compiler actually does. But it still fails. Nevertheless, I already got some interesting information.

[2021-04-19 09:50] hahnjo commented on #396
Hi there, I implemented `-fcuda-rdc` in 2018 (meanwhile renamed to `-fgpu-rdc`), here are the main two reviews: https://reviews.llvm.org/D42921 and https://reviews.llvm.org/D42922 For the second review that implements the registration, I actually uploaded the toy library that I tested, and it still seems to work (if you get `clang` to find and accept your installed CUDA version...)

The important

[2021-04-19 19:47] SimeonEhrig commented on #396
Thank you very much for the information. That's really help full. I have a question. I have one question. If I read the test cases correctly, `external __constant__ var` and `external __variable__ var` are supported or am I wrong? I ask because I'm having problems with code I compile with Clang. However, there is a chance that I am doing something wrong.

For the first step, I think I will write t

[2021-04-20 10:08] hahnjo commented on #396
@SimeonEhrig

If you're referring to `clang/test/CodeGenCUDA/device-stub.cu`, I think this only tests that Clang thinks it's correctly registering. I'm not aware of tests that actually exercise this code from a runtime perspective, like really executing on the GPU.

However, it seems to work as far as I can tell. I put together a small toy application that defines a `__constant__` in one TU and a

[2021-04-20 14:03] SimeonEhrig commented on #396
Thanks for the example. Unfortunately, it does not compile with the same error, like in my code:

[code]

I tested it on 3 different systems:
* Clang 11 + CUDA 10.1
* Clang 12 + CUDA 10.1 or CUDA 11.2
* CUDA 11.2 docker container with Clang 11

[2021-04-20 15:04] hahnjo commented on #396
Sorry, can't help there, my compilation is on a standard CentOS 8. But it adds another point why I don't like Spack...

[2021-04-20 15:24] SimeonEhrig commented on #396
I tested it in a container to exclude spack. The complete software is installed over `apt` in the container. But all my system are Ubuntu based. I will try it with a CentOS 8 container again.

[2021-04-20 17:16] SimeonEhrig commented on #396
I tried it with a CentOS 8 container, because I have no access to bare metal CentOS 8 system, but I got the same error:

[code]

Used software:
* CUDA 10.1.243
* Clang 10.0.1

[2021-04-20 20:56] hahnjo commented on #396
Hm, that's complaining on the host, isn't it? I just double-checked the API reference, could you try
[code]
instead, taking the address of `Answer`? My CUDA 11.2 has a convenience function that takes a reference as the first argument and passes its address on to the real function, maybe that wasn't available in CUDA 10.1?

[2021-04-25 14:51] ItsCubeTime opened #409 "[Featur request] Support for using Cling as a hot reloading alternative."
As I've understood it, many C++ hot reloading libraries/solutions basically swapping out modules (like dll files) during runtime (example: https://github.com/fungos/cr )

Im wondering if Cling doesnt have the potential of running along with a "regularly" compiled application where Cling takes the place of the module that would otherwise be hot reloaded - hence this request.

Thanks for reading <3

[2021-04-29 07:11] SimeonEhrig commented on #396
@hahnjo Can you please send me your used software version, that I can exactly reproduce it.
* CUDA version
* Clang version
* libc++ or libstdc++ and which version
* OS version

[2021-04-29 07:46] hahnjo commented on #396
@SimeonEhrig I'm on CentOS 8.3 with CUDA 11.2 installed from Nvidia's repository. I'm using `clang-13` from a few weeks ago, the `clang-10` from the package system doesn't know about that version of CUDA. I'm using the `libstdc++` from the system GCC 8.3.1

[2021-04-30 01:29] jtyoui opened #410 "There is cling in $PATH environment,but raise error."
- [x] download source `https://root.cern.ch/download/cling/cling_2020-11-05_ROOT-ubuntu2004.tar.bz2`

### Describe the bug
There is cling order and add in `$PATH` that `clingkernel.py` not find `cling`.

This is my environment of Ubuntu system. I am input order `(base) root@27390f75d1d3:~# cat ~/.bashrc`  that terminal see down:
[code]

start `Jupyterlab` raise Errors:
[code]

what??? Nothing to s

[2021-05-03 07:59] SimeonEhrig commented on #396
With your settings, it works. Now, I have to find out what is the reason, why it works and not on my bare metal system. I don't believe, it has something to do with CentOS 8. I believe, there was something change since Clang 12 or it has something to do with the `libstdc++` (it is not related to this issue, but we saw a lot of problems with Clang, CUDA and the libstdc++ of GCC 10.3).

[2021-05-03 08:48] hahnjo commented on #396
Indeed, I can reproduce this with Clang 12.0 and CUDA 11.2. The winner is https://github.com/llvm/llvm-project/commit/b008ea304d438f0aa818918caceb3bd864412304#diff-4d89d3c6d6aa954d6d77426520d881efefc4eb631dbe25730c4599c0b5150ec6, after the refactoring in https://github.com/llvm/llvm-project/commit/0b2af1a2889423bb797856841ac81cf10d01c696. For this particular example with only `-fgpu-rdc`, commenti

[2021-05-03 08:56] SimeonEhrig commented on #396
Thanks for searching the bug. I had also considered this type of bug to be the most likely. Therefore, we need to back port it to Cling.

[2021-05-03 13:48] vgvassilev commented on #396
@hahnjo, @SimeonEhrig, what would be a way forward? Is there something to be fixed/backported from clang mainline?

[2021-05-03 13:53] hahnjo commented on #396
IMHO we would have a very hard time back-porting from current `main` to LLVM 9: That particular are of Clang is developing very rapidly since AMD is adding their HIP models. As a particular example, take the refactoring that I linked to above...

[2021-05-03 14:15] vgvassilev commented on #396
Ok, so I guess the guidance is to wait the next upgrade to llvm 12?

[2021-05-03 14:20] SimeonEhrig commented on #396
LLVM 13. The fix is in the current dev.
@vgvassilev What do you think, is the next version, where we want to upgrade? If I understand it currently, we are strongly depend on the new OrcJIT v2 backend.

[2021-05-03 14:21] hahnjo commented on #396
Or rather LLVM 13; the fixes in https://github.com/root-project/cling/issues/396#issuecomment-831118957 are from February after the branching for LLVM 12.

[2021-05-03 14:21] SimeonEhrig commented on #396
Maybe we can ask for back porting to LLVM 12.0.1.

[2021-05-04 07:43] SimeonEhrig commented on #396
@hahnjo @vgvassilev I tested success a vanilla Clang 9.0.1 with Jonas [example](https://github.com/root-project/cling/issues/396#issuecomment-823153844) and [modification](https://github.com/root-project/cling/issues/396#issuecomment-831118957). So it could work with a small Clang patch for Cling for the moment. But I have no idea, if there is a side effect or some case not working.

[2021-05-04 07:53] hahnjo commented on #396
To be clear, the patch in https://github.com/root-project/cling/issues/396#issuecomment-831118957 is not meant to work in all cases. The comment above explains why it is needed to avoid symbol conflicts (when not compiling with `-fgpu-rdc`).

[2021-05-06 07:16] schnapper79 commented on #408
`collect2: fatal error: ld terminated with signal 9 [Killed]`

This seems to be a "out of memory" - problem. For me it helped to make a big enough swapfile to add some.

[2021-05-06 07:56] schnapper79 opened #411 "Cannot determine location of C++ headers for runtime."
- [ x] Checked for duplicates

### Describe the bug
During the configuration of cling cmake doesn't find the paths to include directories

[code]

### Expected behavior
cmake should be able to find the directories, yet it seems the sed - command fails

### To Reproduce
As everyones system is different I share the output of what I think is passed to the sed command to find the #include paths:
(it i

[2021-05-06 16:19] sarthakvk opened #412 "IndexError: list index out of range while running installation script(cpt.py) if required softwares doesn't exist"
### Describe the bug
When `exec_subprocess_check_output` is called to check if software exist, and if it doesn't exist then the return value is an **empty string**
[code]
which causes issue where the return value is split into list and indexing is used for example in `check_mac(pkg)`
[code]
### Expected behavior
In my opinion we can make list of all the software that doesn't exist and exit by prin

[2021-05-08 00:49] razzius commented on #379
I was able to get v0.9 merged into homebrew: https://github.com/Homebrew/homebrew-core/pull/76750#issuecomment-834883050

Perhaps this can be closed?

[2021-05-13 18:20] gromnitsky opened #413 "Doesn't compile on Fedora 34 with GCC 11.1.1"
An excerpt from 'Porting to GCC 11':

So, after running `tools/packaging/cpt.py --create-dev-env Release --with-workdir=./_out --no-test` it failed on compiling `_out/cling-src/tools/llvm-exegesis/lib/Analysis.cpp` file.

I had to add `#include <limits>` to `_out/cling-src/utils/benchmark/src/check.h` & comment out a corresponding `fetch_llvm(llvm_revision)` line in `tools/packaging/cpt.py` before

[2021-05-13 21:08] GavinRay97 opened #414 "Building on Windows from `cpt.py` fails with dozens of: `clang-tblgen.exe: Unknown command line argument ...`"
- [x] Checked for duplicates

### Describe the bug

Trying to build with `cpt.py --check-requirements && cpt.py --create-dev-env Debug --with-workdir=./cling-build/` eventually fails with:

![image](https://user-images.githubusercontent.com/26604994/118187154-95c11b80-b40c-11eb-9939-9ad2f7011253.png)

Here's the section containing the actual  CMake args and my MSVC version, full log uploaded at gi

[2021-05-13 21:14] GavinRay97 commented on #414
This appears to actually be an issue with MSVC -- not even `-help` command works. The entire CLI parsing is completely borked.

- _[llvm] llvm-tblgen.exe fails when building LLVM_ - https://github.com/microsoft/vcpkg/issues/11558
- _https://github.com/microsoft/vcpkg/pull/11703_ - https://github.com/microsoft/vcpkg/pull/11703

[2021-05-13 23:12] GavinRay97 commented on #414
For historical purposes/anyone else facing issues, I've managed to compile it successfully with:
[code]

Though linking fails with:
[code]

[2021-05-14 01:02] GavinRay97 opened #415 "Error in MSVC when trying to import standard library headers"
- [x] Checked for duplicates

### Describe the bug
Following comments from other issue: https://github.com/root-project/cling/issues/414
- `cling` compiled using VS 2017 and MSVC 14.10.25017
- Including any standard headers in a shell session with `cling` that has the MSVC `14.28.29910` or `14.29.30035` (likely others too) include paths causes a crash

[code]

### Expected behavior

It doesn't cra

[2021-05-14 09:49] blockspacer commented on #342
UPD:
I found that cling requires clang headers with same version as used during build.

i.e. conan package for cling must bundle `/include/c++/v1`

To avoid conflicts with system headers - package consumers must pass `-isystem` and `-nostdinc++` compiler flags to cling similar to below:

[code]

That requires separate LLVM recipe.

I managed to package llvm 9 via conan https://github.com/blockspac

[2021-05-15 15:13] GavinRay97 commented on #342
@blockspacer Hey thank you for this, it's incredibly useful.
And the docs are thorough -- Much appreciated!

[2021-05-16 03:29] 0x0015 opened #416 "fork(); messes with interpritor."
- [ ] Checked for duplicates

### Describe the bug
When using the C function: fork() it results in the interpreter getting bugged and not allowing typing properly(eg. characters would be in the wrong order, would have the wrong characters, etc...)

### Expected behavior
I expected it to either error, or allow simultaneous input of some sort.

### To Reproduce
open the interpritor (eg. run cling) a

[2021-05-17 19:06] SimeonEhrig commented on #416
The same behavior happens with `std::async`, see this issue https://github.com/root-project/cling/issues/321. The solution is putting everything in a function and catch the thread, before you go back to the interactive prompt.

Okay, catching the thread is sometimes not possible with `fork()` but maybe this knowledge helps. The Interactive prompt and the executed code uses the same program thread

[2021-05-18 15:42] deliciouslytyped opened #417 "Language strict mode?"
It's not clear to me from the little documentation I've looked at whether CLING supports a strict C (or C++, or otherwise) mode?
The impression I got was that it supports some sort of mixed language.

(Context: I'm trying to learn C and I figured CLING might be a convenient environment for trying things.)

[2021-05-18 15:54] deliciouslytyped opened #418 "tab completion doesn't list preprocessor defines"
I'm on cling 0.7 according to
[code]
I'm running cling with `-x c`, and as far as I can tell, preprocessor definitions aren't included in the completions.
Could this be improved?

[2021-05-18 16:07] deliciouslytyped opened #419 "`cling -x c` fails on sizeof"
- [x] Checked for duplicates
### Describe the bug
[code]
### Expected behavior
This should work?

### Setup
cling 0.7 on NixOS

### Additional info
https://root-forum.cern.ch/t/objective-c-support/19065/6 looks kind of related?

[2021-05-18 16:10] deliciouslytyped commented on #417
Does passing `-x c++` make sense?
If I do it I get the following, and I'm not sure whether I need to file a bug report on NixOS:
[code]

[2021-05-18 16:13] deliciouslytyped commented on #419
Looks semicolon related instead:
[code]

[2021-05-18 16:14] deliciouslytyped commented on #419
https://root-forum.cern.ch/t/cling-cint-parse-issue/18312 says something about c++ automatic semicolons.

[2021-05-19 07:44] SimeonEhrig commented on #417
`-x c++` is set automatically. The only other valid option is `-x cuda` at the moment.

Does the error messages also appears, if you only runs `cling`?

[2021-05-19 07:52] SimeonEhrig commented on #419
I never tried `cling -x c` but I believe, it does not work and the `ValueExtractionSynthesizer` is a good example for it. In Cling, the JIT and the execution runtime of the user code are "mixed". This means, if you type in code, the JIT will analyze the source code and modify it depending of the kind of the code. Sometimes it adds some extra C++ code to enable some special functions of Cling, like

[2021-05-19 11:21] deliciouslytyped commented on #417
No errors if I only run cling.

[2021-05-25 21:13] #255 closed

[2021-05-26 05:20] Axel-Naumann commented on #255
Thanks, @heyAyushh :-) Glad to see it's fixed!

[2021-05-26 05:27] Axel-Naumann commented on #414
@reikdas would you mind having a look?

[2021-05-26 05:28] Axel-Naumann commented on #413
@reikdas @vgvassilev I can reproduce this. What do we do, add backport the relevant llvm patch? @reikdas can you help?

[2021-06-04 00:05] GavinRay97 opened #420 "Is it possible to use Cling to load a higher version of "clang" (IE 11/12) than it was compiled with?"
I spent some hours earlier attempting to get Clang + LibTooling from LLVM 12 working in a Jupyter notebook with Cling (the one provided by https://github.com/jupyter-xeus/xeus-cling).

But I didn't seem to be able to load another, newer version of Clang on top of what was being used to run the interpreter -- which is reasonable.

I'm curious if there a way to do a scoped "undefine" inside of an in

[2021-06-07 18:21] Keithcat1 commented on #300
I appear to also be having this problem. My self-built instance of Cling dies if I do type these commands into the interpretor (it is on my home computer which I don't have access to right now).
#include <stdio.h>
int main() {
	printf("Hello\n");
}
main()
I built Cling 0.9, LLVM / Clang 9.0.1, using VS2019, Windows 10

[2021-06-10 15:44] pdeitel opened #421 "Update to most recent Clang version for C++17 and 20 support?"
Are there any plans to update the version of clang used? Would love to have C++20  support in an interactive environment.

[2021-06-11 18:15] pcanal commented on #420
The short answer is no.  Upgrading Cling to be able to use newer version of Clang usually requires some adaptation and the next version will have the challenge that the jit used needs to be upgraded (i.e. a delicate part).

[2021-06-14 06:51] SimeonEhrig commented on #420
I think, you misunderstand the question. I think @GavinRay97 don't want to build Cling with a new version of Clang/LLVM. He wants to use a new version of libclang in Cling (e.g. `.L libclang-13.so`) and this does not work. I think, there is a name clash between both library version (the internal of Cling (LLVM 9) and the version on runtime (LLVM 13), because the libclang of Cling is not isolated i

[2021-06-14 08:07] SimeonEhrig commented on #421
Yes, it is planed. At the moment, @vgvassilev [planning](https://compiler-research.org/assets/presentations/CaaS_03_06_2021.pdf) the port to LLVM 13. Unfortunately this upgrade will take some time, because we need to replace the old OrcJITv1 API with the OrcJITv2 API, which is a big change and needs a lot of verification.

By the way, the Cling developers are working hard to get as many of the Cli

[2021-06-14 22:10] GavinRay97 commented on #420
@Axel-Naumann Thank you, that's exactly what I was curious about!

Is there something special/different about this `interpreter` sub-project in `ROOT` versus the `cling` repo here?
Wondering how easiest to set up a build that uses this config + integrate it with the Cling Jupyter kernel.

[2021-06-23 07:19] bellenot commented on #300
Hi, good (sort of) news: we can reproduce the problem. We will try to find the source of it (might be in Clang).

[2021-06-24 15:04] bellenot commented on #300
AFAIK, the plan is to upgrade to LLVM 13

[2021-06-24 15:22] wlav commented on #300
@Keithcat1 :

I've spent a ton of time on this problem and can't say with 100% certainty that it is actually solved, b/c I don't know what the actual bug is. My most probable diagnosis, is that it's the usual problem of memory crossing DLL boundaries  (allocated in one, deleted in another). Based on that diagnosis, I've removed exports of `ostream` related symbols from libCling (ROOT still has the

[2021-06-29 15:55] vgvassilev commented on #300
Could that be related https://github.com/microsoft/STL/issues/1887

[2021-07-15 22:10] aktech commented on #386
Hi @SimeonEhrig  I am the creator of Cirun.io, "GPU" and "CI" caught my eye.

FWIW I'll share my two cents. I created a service for problems like these, which is basically running custom machines (including GPUs) in GitHub Actions: https://cirun.io/

It is used in multiple open source projects needing GPU support like the following:

https://github.com/pystatgen/sgkit/
https://github.com/qutip/qut

[2021-07-26 15:51] pd3v opened #422 "./cpt.py --check-requirements detects outdated and unsupported softwares but they are not."
### Describe the bug
`./cpt.py --check-requirements` detects outdated and unsupported softwares but they are not. Then when CPT asks to update/install requisite packages it runs ok until error: **Error: Port clang++ not found**

**Is this "clang++" a macports' package that does not exist?**

####On cling-0.5
+-----------------------------------------------------------------------------+
| Check av

[2021-08-04 14:27] pd3v commented on #422
In spite of above issues, I got the building moving further after making some ports' updates and fixing **cpt.py** with `-DLLVM_TARGETS_TO_BUILD="host;NVPTX"` ; until the following **fatal error**:

![cling-0 5](https://user-images.githubusercontent.com/3267138/128198009-acda2544-862a-4b74-9442-98e57e7cc3e9.png)

Feedback from you would be appreciated.

[2021-08-06 15:43] Minabsapi opened #423 "cpt.py crash: " 'llvm_flags' is not defined""
- [x] Checked for duplicates

### Describe the bug

Upon launching `./cpt.py --last-stable deb` to get a Cling DEB package the script crashes
[code]

### Expected behavior

The automated build process packages the Cling DEB

### To Reproduce

Simply running `./cpt.py --last-stable deb`

### Setup

Cling version: 0.9
OS: GNU/Linux Ubuntu 20.04
`cpt.py` obtained from https://raw.githubusercontent.co

[2021-08-18 12:10] pd3v opened #424 "Building error - "default initialization of an object of const type without a user-provided default constructor""
### Describe the bug
Building cling by running `./cpt.py --create-dev-env Debug --with-workdir=./cling-build/` and at 97% building, 2 **default initialization of an object of const type without a user-provided default constructor** errors occur.

![cling 0 5 build errors](https://user-images.githubusercontent.com/3267138/129895462-b03f3044-e976-4261-8294-e90eae1e152b.png)

### Expected behavior
To

[2021-08-22 19:12] dpellegr opened #425 "Compilation error - missing #include <limits>"
Hi, earlier today I tried to compile cling on ArchLinux following these instructions https://root.cern/cling/cling_build_instructions/ but I got the following error:
[code]

You are probably missing a `#include <limits>`.

[2021-08-24 06:13] indrakumarreddy007 opened #426 "'cmakeDir' is not defined"
while Compiling Cpt.py in windows, I am getting the following error.

File "cpt.py", line 2308, im <module>
   get_win_dep()
File "cpt.py", line 1347, in get_win_dep
 os.rename(os.path.join(tmp_bin_dir, 'cmake-3.6.2-win64-x64'), cmakeDir)
NameERROR: name 'cmakeDir' is not defined

cmakeDir is not declared in cpt.py

when i tried to build using cmaketext.txt, i am facing

CMake Error at CMakeLists.

[2021-08-29 15:53] keenancrane opened #428 "Definitions missing on second invocation of script"
### Describe the bug
For scripts involving external data structures (i.e., those defined in a library), cling often complains on the 2nd invocation that basic definitions (such as constructors) are missing—causing it to fail.  This happens even if the script is unloaded prior to the 2nd invocation, via `.U`.  See examples below.

### Expected behavior
The expected behavior is that the script execu

[2021-09-05 02:28] Apteryks opened #429 "cling-demon fails to link when building with BUILD_SHARED_LIBS=ON"
Hello,

Building the llvm/clang/cling Cling project fails to link the cling-demo binary when the cmake build system is configured with  BUILD_SHARED_LIBS=ON:

[code]
### Expected behavior
The build should succeed the same.

### To Reproduce
Follow the original build steps described here: https://root.cern/cling/cling_build_instructions/, but specify "-DBUILD_SHARED_LIBS=ON" at the time of running

[2021-09-05 04:52] Apteryks opened #430 "Link errors when attempting to use external LLVM & Clang"
### Describe the bug
When using LLVM and Clang as external dependencies (but built using their patched sources), Cling fails to link, showing various missing LLVM symbols.
[code]

See [ba63aikq9ym2n7gjs13m56hxa77q25-cling-0.9-1.d78d1a0.drv.txt](https://github.com/root-project/cling/files/7110903/ba63aikq9ym2n7gjs13m56hxa77q25-cling-0.9-1.d78d1a0.drv.txt) for the complete build log.

### Expected b

[2021-09-06 18:32] rubdos commented on #419
So, looks like this may be a dupe of #364. That said, there's more discussion here, so I'll drop what I wrote on the `xeus-cling` PR here too:

[2021-09-06 23:29] kasajian opened #431 "Instructions on https://root.cern/cling/cling_build_instructions/ are wrong"
**It says:**
Alternatively, you can build manually. Start by checking out llvm, clang and cling:
[code]

Then use CMake to configure & build cling:

[code]

**Why this is wrong:**
Initially you cd into the src folder, then to the tools folder, then to clang.  So before the last step of the first section, you're in ./src/tools/clang, relative to where you started.   This means the next instruction,

[2021-09-07 17:45] Apteryks commented on #430
Seems adding a link directive for clang-cpp resolves the issue, at least for libcling.

[2021-09-07 18:11] Apteryks commented on #430
I've done the same for tools/driver and now I got a cling binary, but it fails to run like:
[code]

[2021-09-08 03:17] Apteryks opened #432 "Build system should check for 'lit' installed command, not 'lit.py'"
### Describe the bug
The build system currently looks (as a fallback) for an installed `lit.py` command.  The PyPI available `lit` package rather installs a `lit` command.

### Expected behavior
`lit` should be found.

### Actual behavior
`lit` is not found, test suite is not run.

### Setup
<!--
1. Cling version 0.9
2. Operating system Guix System
3. How you obtained Cling: from sources

[2021-09-08 03:19] Apteryks commented on #429
According to https://llvm.org/docs/BuildingADistribution.html, `BUILD_SHARED_LIBS` is not to be used in non-development contexts.  I'm thus closing this in favor of https://github.com/root-project/cling/issues/430.

[2021-09-08 03:19] #429 closed

[2021-09-08 03:54] Apteryks commented on #432
It should probably check for these 3 things:
`lit`,  `llvm-lit` or `llvm-lit.py`.

When using LLVM as a system library, the AddLLVM CMake module defines its own LLVM lit file name as llvm-lit or llvm-lit.py on Windows.

It can be user specified via the `LLVM_EXTERNAL_LIT` CMake variable, which takes the full path of your `lit` command.

[2021-09-08 13:38] Apteryks opened #434 "getResourceDir returns wrong path when using external Clang"
### Describe the bug
When using LLVM as an external library installed into its own prefix (rather than at the FHS standard location), the getResourceDir ends up resolving relatively to the Cling installation prefix, which on GNU Guix returns something like `/gnu/store/plbjkdi3gz0dn2k8hq9nvfzr83rll3hw-cling-0.9-1.d78d1a0/lib/clang/9.0.1` instead of `/gnu/store/6dbmmhqncj7xdw2m79nkvdzz6rl4gx1b-clang

[2021-09-08 13:45] Apteryks opened #435 "Wrong cling binary location in test/lit.cfg when using external LLVM"
### Describe the bug
Attempting to run the test suite of Cling with the Lit tool, the `cling` path used was wrong.  This is because it is formed using `config.llvm_tools_dir` in `test/lit.cfg`.  It should rather use `config.cling_obj_root + '/bin/ ...`.

### Expected behavior
The `cling` binary should be correctly resolved during tests.

### To Reproduce
Build cling using external LLVM & Clang lib

[2021-09-12 00:11] jonesmz opened #436 "Link to Cling Webpage in README.md doesn't work"
E.g. https://cdn.rawgit.com/root-project/cling/master/www/index.html points to a file that is not rendered by the webbrowser.

[2021-09-13 12:19] alexandrumc opened #437 "No stack trace: cannot find (functions in) dbghelp.dll"
Hi,

I'm trying to make `sil-cling` work on Windows, but whenever there's an error I get
`No stack trace: cannot find (functions in) dbghelp.dll!`, so I'm not able to see the stack trace. I've googled this error message and it seems that it comes from [here](https://root.cern/doc/v608/TWinNTSystem_8cxx_source.html#l01468), but I've checked and I have both `dbghelp.dll` and `imagehlp.dll` in PATH.

[2021-09-13 22:07] SylvainCorlay opened #438 "Found whil packaging cling 0.9 for conda-forge"
I finally got around to package cling 0.9 on conda-forge.
 - was able to properly build the cling variant of clang 9.0
 - but I am now seeing the following build error:

[code]

[2021-09-13 22:35] SylvainCorlay commented on #438
Aarg nooooo!

Why did you start patching llvm again? Now I have to
 - provide an llvm conda variant
 - rebuild the clang conda variant to target the llvm conda variant.

[2021-09-14 07:08] #437 closed

[2021-09-16 16:19] MohammadMD1383 opened #439 "Cannot compile cling on windows"
tried with both `msvc2019` and `mingw-w64 8` but I cannot compile it.
* using msvc after about one or two minutes I got some errors I think with linking and ...
* using mingw it spent more than 3 hours!!! 87% was completed but an error occurred and ... Ahhhhh, that's not justice :/

using mingw I'm getting following error:
[code]

*any way... I think using wsl won't kill anyone...*

[2021-09-20 09:28] SylvainCorlay opened #440 "Packaging (conda): CommandLine Error: Option 'disable-symbolication' registered more than once!"
As I am working on getting cling 0.9 packaged for conda-forge.

I managed to successfully build cling, however, I am seeing the following failure at run time:

[code]

[2021-10-04 17:33] cindRoberta opened #441 "[DOUBT] run a .cpp file"
can I execute a .cpp file?

something like:
[code]
[code]
___
when I run:
[code]
I get:
[code]

[2021-10-20 19:48] Keithcat1 opened #442 "Cannot load the SIMD JSON library in Cling"
- [x] Checked for duplicates

### Describe the bug

Attempting to #include "simdjson.cpp" [(https://github.com/simdjson/simdjson](https://github.com/simdjson/simdjson)) from the Cling REPL fails with:
[cling]$ #include <simdjson.cpp>
IncrementalExecutor::executeFunction: symbol '??2@YAPEAX_KAEBUnothrow_t@std@@@Z' unresolved while linking function '??__E?id@?$num_put@DV?$ostreambuf_iterator@DU?$cha

[2021-11-08 17:10] bendavid opened #443 "Slow jitting for deep nested template arguments"
Jitting code with long/deeply nested lists of template arguments is extremely slow.  Consider the code below, which compiles in about 0.3s in either clang or gcc.

In cling this takes ~forever to jit.  (Less extreme variations on this can potentially appear with nested Filter types from RDF graphs)

[code]

Running pstack on the stuck jitting looks as below, so ultimately it's bogged down in clang

[2021-11-09 22:01] wlav commented on #443
I'm always interested in speeding up JIT-ing of templates, so I ventured to take a look, hoping to find some pass simplification. However, FWIW, my diagnosis is that the problem is not the JIT, so I'm not interested anymore, but below is what I found.

What's going on is that Cling tries to find precompiled code for your template (see `RedeclarableTemplateDecl::loadLazySpecializationsImpl`) and yo

[2021-11-11 12:02] Axel-Naumann commented on #441
Your cling was built with a different compiler / stdlib than what you use at runtime, that's what the warning is about.

This works:
[code]
[code]

Please ask such questions at https://root-forum.cern.ch/c/cling/8 - that gives you *way* shorter response times.

[2021-11-11 12:02] #441 closed

[2021-11-11 12:04] Axel-Naumann commented on #443
Thanks @wlav that's exactly what I bet on. @vgvassilev FYI

[2021-11-11 12:08] Axel-Naumann commented on #439
MSVC should work, we build with it, too. What's the error? We don't build with mingw, I'm not surprised that it doesn't work.

[2021-11-11 12:10] Axel-Naumann commented on #440
That's two sets of LLVM libraries getting symbol-confused. For ROOT we hide all of LLVM's symbols for that exact reason. What libraries are loaded into your cling, what's the OS etc?

[2021-11-11 15:01] Axel-Naumann commented on #364
Yup we need to disable value printing in C mode, or re-implement it for C.

[2021-11-11 15:17] Axel-Naumann commented on #364
https://github.com/root-project/root/pull/9272

[2021-11-11 15:20] Axel-Naumann commented on #425
Thanks! Can you report this upstream to llvm (if it's not fixed there)? This isn't for cling to fix as it's llvm's file.

[2021-11-11 15:20] #425 closed

[2021-11-11 15:22] Axel-Naumann commented on #420
Well, we configure things with the above CMakeLists.txt - that's all there is to it :-) Glad this was useful for you!

[2021-11-11 15:22] #420 closed

[2021-11-11 15:27] Axel-Naumann commented on #438
@vgvassilev could you comment?

[2021-11-11 15:36] MohammadMD1383 commented on #439
That's about one month ago... I don't have the error messages anymore.

[2021-11-11 15:41] MohammadMD1383 commented on #439
could you please tell me where can I download cling for windows? I think that would be better :)

[2021-11-11 16:50] Axel-Naumann commented on #439
We don't seem to offer windows binaries: https://root.cern/download/cling/ - let me find out why :-)

[2021-11-12 03:07] xyz-li opened #444 "The cling's web page link does not work correctly"
- [ ] Checked for duplicates

### Describe the bug
Click the [cling's web page](https://cdn.rawgit.com/root-project/cling/master/www/index.html) in the README.md, it does not work correctly.
It returns the source code of that page.
![image](https://user-images.githubusercontent.com/6263928/141402061-6991973a-7afe-4ced-ad74-385dde069be9.png)

### Expected behavior

### To Reproduce

Click the link

[2021-11-12 06:47] vgvassilev commented on #438
We have clarified things offline. I don’t think there is anything else we could do. LLVM9 was released with a compilation bug…

[2021-11-12 06:47] vgvassilev commented on #423
Cc: @reikdas

[2021-11-12 07:42] Axel-Naumann commented on #438
Thanks. There's no 9.0.x that fixes that?

Can we then close this?

[2021-12-04 05:21] BretG137 opened #445 "building from source fails on debian 11"
- [ ] Checked for duplicates

### Describe the bug
  Using the instructions:
wget https://raw.githubusercontent.com/root-project/cling/master/tools/packaging/cpt.py
chmod +x cpt.py
./cpt.py --check-requirements && ./cpt.py --create-dev-env Debug --with-workdir=./cling-build/
fails

### Expected behavior
it works

### To Reproduce
 wget https://raw.githubusercontent.com/root-project/cling/master/to

[2021-12-24 09:20] michaelbrucelin opened #446 "Building in Docker takes up too much space"
### Building in docker takes up too much space

I built cling into a docker image, but the docker image is too big. Check the cling layer occupies 47.5GB. Is there any operation like clearing the cache, or reducing the database, etc., can make cling layer mirroring reduce some volume?

[code]

Is there a way to reduce the size of the docker image? 47.5GB is a bit big, thank you very much.

[2022-01-03 08:06] SimeonEhrig commented on #446
Did you configured the right build type? 47,5 GB looks like a debug build.

[2022-01-03 08:20] michaelbrucelin commented on #446
I only refer to the README file of this project, this is the content of my Dockerfile.

[code]

[2022-01-03 08:30] SimeonEhrig commented on #446
I'm not really familiar with `cpt.py`, but this line of code looks like, that it builds a debug build:

`RUN /bin/bash -c '/bin/echo -e "yes" | ./cpt.py --check-requirements && ./cpt.py --create-dev-env Debug --with-workdir=./cling-build/'; exit 0`

[2022-01-03 08:33] SimeonEhrig commented on #446
If found this in the source code of `cpt.py`: https://github.com/root-project/cling/blob/f84e601d3f5cfd06f4b557780ca62e68d2cfa473/tools/packaging/cpt.py#L1803

Can you try to change the value of the parameter `--create-dev-env` to `Release` and build the container again?

[2022-01-03 08:39] michaelbrucelin commented on #446
Okay, I will try it again, thank you very very much.

[2022-01-05 15:32] Axel-Naumann opened #447 "GH actions fail"
All GitHub action build fail: https://github.com/root-project/cling/actions

FYI @reikdas

[2022-01-10 03:53] ldotrg opened #448 "CPT build faile"
- [ ] Checked for duplicates

### Describe the bug

20:54:03  /cling-build/cling-src/tools/cling/lib/Interpreter/DynamicLibraryManagerSymbol.cpp:621:43: error: ‘DF_1_PIE’ is not a member of ‘llvm::ELF’
20:54:03             if (Dyn.d_un.d_val & llvm::ELF::DF_1_PIE)
20:54:03                                             ^~~~~~~~
20:54:03  /cling-build/cling-src/tools/cling/lib/Interpreter/DynamicLibra

[2022-01-10 09:03] SimeonEhrig commented on #448
@vgvassilev I also recognized this bug, yesterday. I think, the reason is a missing back port of a llvm 11 feature in the CERN llvm fork.

The bug was introduced by this commit: https://github.com/root-project/cling/commit/4fa39ba82f55cf8975ba635c71c964249219b7a6

[2022-01-11 14:02] Axel-Naumann commented on #448
Should be fixed! Can you confirm?

[2022-01-11 15:44] SimeonEhrig commented on #448
The normal cmake build is working. I expect `cpt` is also working again.

[2022-01-11 16:02] #448 closed

[2022-01-11 16:07] Axel-Naumann commented on #445
[code]
says that your compiler crashed. I suspect that this is fixed in a later GCC - I have never seen this, but we don't build with debian 11.

Your GCC crashes compiling `clang/lib/Parse/ParseObjc.cpp` which isn't ours but clang's.

There's not much we can do, I'm afraid. Try with a different GCC; if all fails see whether you can successfully compiler clang-9. If not, consider reporting to them

[2022-01-11 16:07] #445 closed

[2022-01-11 16:09] Axel-Naumann commented on #442
@bellenot can we expect that this works? Any insights from your side?

[2022-01-11 16:10] Axel-Naumann commented on #440
Is this still an issue, @SylvainCorlay ?

[2022-01-11 16:27] #438 closed

[2022-01-11 16:29] Axel-Naumann commented on #432
Any chance that you can propose a patch?

[2022-01-11 16:31] Axel-Naumann commented on #424
Which compiler is this? Seems like a very strange error - something we've never seen before, on any platform...

[2022-01-11 16:36] Axel-Naumann commented on #133
If it was fixed in Feb 2019 it should have been fixed in cling 0.9. What do the xeus-cling people say on this, did you contact them?

[2022-01-11 16:37] bellenot commented on #442
I'll have to investigate and try to fix it

[2022-01-11 17:06] Axel-Naumann commented on #436
Thanks for your report, fixed in https://github.com/root-project/cling/commit/d59d27ad61f2f3a78cd46e652cd9fb8adb893565 (and the subsequent one, but details)

[2022-01-11 17:06] #436 closed

[2022-01-11 23:48] SylvainCorlay commented on #440
Yes, I have not been able to put cycles into this recently unfortuntely.

[2022-01-12 09:22] Axel-Naumann commented on #440
OK will leave it open then until you come back to us (or until it gets self-healed with a subsequent llvm update)

[2022-01-13 09:52] michaelbrucelin commented on #446
I've been busy recently, and I haven't had time to test it. I just tested it and it has dropped to 1.77GB. The effect is very obvious. Thank you so much.

[code]

[2022-01-13 09:52] #446 closed

[2022-01-21 18:39] 7r3nzy commented on #448
I am getting the same error:

Downloaded the script file from [here](https://raw.githubusercontent.com/root-project/cling/master/tools/packaging/cpt.py)

[2022-01-24 17:35] phanostech opened #449 "Error while building Cling with cpt.py"
We get the following error on Fedora 35

[code]

The command we ran is

[code]

[2022-01-24 17:51] phanostech commented on #449
This fixes that problem.

Change `DynamicLibraryManagerSymbol.cpp` on line 621
[code]

[2022-02-01 15:23] joshlk opened #450 "Cling Jupyter is using wrong standard library header files"
### Describe the bug
When I execute the following using `cling` it works fine:
[code]

However if I do the same in a Jupyter notebook (c++14 kernal) I get this error:
[code]

From a google search this is probably because it is using old standard lib (non-c++14) header files. How can I get the Jupyter kernel to use the c++14 standard lib header files?

### Setup
cling version 0.8~dev (cling_2020-11

[2022-02-07 03:16] Apteryks opened #451 "cling seems to segfault easily"
### Describe the bug
While experimenting with cling I found that I can have it segfault on demand with the recipe below.

### Expected behavior
cling should not segfault itself.

### To Reproduce

Steps to reproduce the behavior:
1. launch cling with `cling --std=c++17`.
2. input the following code:
[code]
The last line (an attempt to inspect cp), triggers a segfault for me (exit status 139 with e

[2022-02-07 06:58] MohammadMD1383 commented on #423
+1; I have the same issue

[2022-02-10 03:33] poopsicles commented on #426
editing the python script to add cmakeDir = TMP_PREFIX + "\bin\cmake\" worked for me

[2022-02-15 05:55] ericzhng commented on #439
Quick comment, might be late for you guys.

I built cling under Win32, x86, didn't work. Then I tried x64 release build, it works like a miracle (VS2017). But the problem is that after I run cling, a simple #include statement can cause it to crash: #include <filesystem>.

But if I run cling in the VS2017 command prompt, then everything seems to work fine. I guess some mislink to wrong dynamic libr

[2022-03-19 14:41] pd3v commented on #424
Confirmed. Thank you.

[2022-04-11 18:51] wh1t3lord opened #454 "Can't compile a solution on Visual Studio 2019"
Hello!

I followed these instructions for "building" cling project, but it didn't compile at all.

Instructions:
git clone http://root.cern.ch/git/llvm.git src
cd src
git checkout cling-patches
cd tools
git clone http://root.cern.ch/git/cling.git
git clone http://root.cern.ch/git/clang.git
cd clang
git checkout cling-patches
cd ../..

The VS output of cling project:

1>cling.exp : error LNK2001: u

[2022-05-01 01:53] jeaye commented on #276
Hi! Just checking in to see the status of this and how any of us can help get cling updated to the latest LLVM release (14, I think).

[2022-05-02 07:15] SimeonEhrig commented on #276
Hi, @vgvassilev is mainly working on the current port to LLVM 13. This happens in the ROOT repository and will be automatically back ported to the cling repository, if it is merged in ROOT.

https://github.com/root-project/root/pull/10294

[2022-05-20 16:48] 0xRZ commented on #423
+1

[2022-05-26 10:23] dennisklein opened #456 "No implementation for `bool cling::utils::platform::osx::GetISysRoot(std::string&, bool);`"
- [x] Checked for duplicates

### Describe the bug
In the cling source tree:
[code]

### Expected behavior
I guess the declaration was meant to be removed together with c23abbc88b6ee61b966291c785794743b1bd5c62?

### Setup
Cling version: `master` branch @ `v0.9-102-g5754b5ad`

[2022-05-26 11:02] dennisklein opened #457 "Improve macOS SDK situation"
### Explain what you would like to see improved
The other day I had another attempt on fixing our `<cmath>`-related compilation errors of ROOT (see e.g. https://github.com/root-project/root/issues/7881). I found that setting the `$SDKROOT` to the latest available version would solve the issue. However, when compiling within the Homebrew context, the policy is to set the `$SDKROOT` matching the maj

[2022-05-26 11:09] Axel-Naumann commented on #457
Thanks a lot for the report.

There's another dimension to this; the runtime versus build time SDK was checked through the modules system. How much of this is still an issue after Chris Burr's recent change, @vgvassilev ?

[2022-05-26 21:44] saisoma123 commented on #423
Calling the download_llvm_binary function in the with_binary_llvm block within the last_stable block should fix it, although now there seems to be an CMake error, and it now says that there is a source directory mismatch. I think #358 is correct in that the function should be rewritten as well as the overriding of the with_binary_llvm argument.

[2022-05-27 09:21] Darley-Wey commented on #439
so why?

[2022-05-27 09:21] Darley-Wey commented on #439
so why?

[2022-05-27 17:57] saisoma123 commented on #449
Hi, I know this is quite late, but would adding this to the DynamicLibraryManagerSymbol.cpp still be helpful?

[2022-06-02 19:22] Axel-Naumann commented on #424
OK thanks - we won't be fixing this then, please consider upgrading your macOS installation / compiler.

[2022-06-02 19:22] #424 closed

[2022-06-09 18:57] vgvassilev commented on #457
@Axel-Naumann, I think we are talking about standalone cling where no C++ modules are involved.

[2022-06-09 19:51] Axel-Naumann commented on #457
@dennisklein is that so, or do you see this in the context of ROOT (as you seem to indicate in your first sentence)?

[2022-06-09 21:15] dennisklein commented on #457
I see this with the cling embedded in ROOT 6.26/02 (and from memory earlier versions, probably 6.22?, basically the ROOT version we were using around the time macOS 11 was out and we eventually updated the CLT on our macOS 10.14/10.15 CI machines back then).

However, this particular `<cmath>` related compile errors appear to be independent of the `runtime_cxxmodules` compile flag of ROOT (if that

[2022-07-19 19:41] Ivan-Igorevich opened #461 "[Errno2] No such file or directory: 'jupyter-cling-kernel'"
## Setup
- OS: Mac OS X Big Sur (fresh installation
- Python 3.9.13
- cling version 0.8~dev (installed from `cling_2020-11-05_mac1015.tar.bz2` 2020-11-05 14:20  179M)
- kernel (installed following https://github.com/root-project/cling/tree/master/tools/Jupyter)
[code]

## What am I doing?
check if cling works fine, done
[code]

Then trying to open notebook
[code]

Then I try to open a notebook fil

[2022-07-23 21:41] jeaye opened #462 "Linkage errors with symbols in host binary"
- [x] Checked for duplicates

### Describe the bug

Carrying over the discussion with @vgvassilev from here: https://github.com/root-project/root/pull/10294#issuecomment-1192957714

Embedded cling is raising linkage errors when I try to access symbols which are inside the host process.

### Expected behavior

cling can access the symbols within the host binary, allowing them to be used. i.e. calli

[2022-07-24 12:48] vgvassilev commented on #462
@jeaye, that seems odd. Can you compile against the master and see if the issue goes away? That will hint us that we need some more work to do as part of the llvm upgrade.

[2022-07-27 21:03] dimitry-ishenko opened #463 "Segmentation fault when launching cling 0.9 on Ubuntu 22.04"
- [x] Checked for duplicates

### Describe the bug

When I launch cling on Ubuntu 22.04 I get this:
[code]
Running with gdb shows this:
[code]

### Expected behavior

I expected something better than the above. Like an interactive shell, where I can enter C++
statements would be nice.

### To Reproduce

1. Launch cling
2. Get slapped in the face with a segfault.

### Setup

1. cling 0.9
2. Ubuntu

[2022-07-28 19:29] jeaye commented on #462
I have just built cling using cpt's default args, which pulls the latest stable. Version for me here is `cling-Arch\ Linux-rolling-x86_64-1.0~dev-0b684e3`. The same problem exists:

[code]

[2022-07-29 06:25] vgvassilev commented on #462
I cloned the repo and made some changes and it seems to work with cling and llvm9. I suspect it works for the llvm13 branch as well. Here are my changes:
[code]

Here is how I use it:

[code]

If you apply it would it work for you?

[2022-07-29 16:38] #463 closed

[2022-07-29 17:08] jeaye commented on #462
Thank you so much for helping out here! Applying your patch does indeed make it work, but I dug deeper to find what cmake is doing that my manual clang++ invocation was not. Turns out it's just these extra flags needed: `-Wl,--export-dynamic -rdynamic`.

As long as I add that to my previous clang++ invocation to compile those two sources, everything works. Also, I tried with the LLVM13 branch and

[2022-07-29 17:08] #462 closed

[2022-07-29 17:10] dimitry-ishenko opened #464 "Cling fails to build on Ubuntu 22.04 LTS"
- [x] Checked for duplicates

### Describe the bug

Running `cpt.py --current-dev=deb` results in several failures:

[code]
This can be fixed by adding the missing header:

[code]

Next failure is caused by `llvm-lit` trying to use python 2:

[code]

This can be fixed as follows:

[code]

Then there are multiple failing tests:

[code]
Full [build.log](https://github.com/root-project/cling/files/92

[2022-07-30 15:28] vgvassilev commented on #462
@jeaye, glad to hear it works for you.

Btw, would you be interested in elaborating a little more about your use case? We have a dedicated forum on interactive c++ and we will be delighted to have you talk to us. If you are interested, I can reach out to you privately with more details.

[2022-07-30 17:37] jeaye commented on #462
Sure! Happy to chat more. My contact details can be found through my profile.

On July 30, 2022 8:28:18 AM PDT, Vassil Vassilev ***@***.***> wrote:
***@***.***, glad to hear it works for you.

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2022-07-30 18:59] dimitry-ishenko commented on #463
This seems to be related to building cling with [LTO](https://llvm.org/docs/LinkTimeOptimization.html).

[2022-08-02 16:27] #422 closed

[2022-08-17 15:34] dimitry-ishenko commented on #464
FWIW I've created proper Debian packaging for Cling here:

https://github.com/dimitry-ishenko-cpp/cling-packaging

You can also install Cling on Ubuntu 22.04 from my PPA here:

https://launchpad.net/~ppa-verse/+archive/ubuntu/xeus-cling

[2022-08-17 16:30] dimitry-ishenko opened #465 "Creating thread_local object with user-defined destructor causes segfault"
- [x] Checked for duplicates

### Describe the bug

A picture is worth a thousand words:
![segfault](https://user-images.githubusercontent.com/2858291/185190563-fac7b576-6a4b-46b9-bba5-1e847d376668.gif)

### Expected behavior

Not having a segfault would be nice.

### To Reproduce

1. Open cling
2. Enter
[code]
3. Exit cling
4. Observe cling barf with segfault

### Setup

cling 0.9
Ubuntu 22.04 LT

[2022-08-17 20:27] dimitry-ishenko commented on #465
Please not that `~st` doesn't actually get called. In other words, if we modify the above example to this:
[code]
Please notice that nothing gets printed in the terminal.

However, if I exit via `std::exit()` then the destructor **is** called:
[code]

[2022-09-12 04:07] jeaye opened #466 "Add cling to vcpkg repo"
### Explain what you would like to see improved

[vcpkg](https://github.com/microsoft/vcpkg) has the backing that no other C++ package manager has, but cling is missing there. Right now, any projects embedding cling don't have a good way of ensuring a particular version of cling gets used across multiple platforms when users compile the project. Either:

1. The project needs to document all of the

[2022-09-25 11:39] abdulbadii opened #468 "So sorry if question is not in proper place but can't help"
Apologize and sorry if question is not in proper place but can't help to ask some big favor

Just found out this kind of C++ REPL and the way I'm always going is to build every open version control project in repo by any standard well recognized build systems i.e. autotool, Cmake, meson, ninja, GENIe, etc ready on Linux

So can one just improve documentation or Readme to transparently put there th

[2022-09-26 13:38] #468 closed

[2022-10-03 07:03] jeaye opened #470 "Invalid value in JIT land (leads to hard crash)"
- [x] Checked for duplicates

# Cling singleton bug
This appears to be a bug related to static globals and an odd combination of `unique_ptr<T>` and `T*` fields. The result is that non-JIT code sees one value for the `T*` field, while JIT code sees another. All other fields show the same value.

I have created a standalone repo for this issue here, with a very minimal test case: https://github.com

[2022-10-13 06:52] jeaye commented on #470
Hi! Any chance of getting this looked at, to see if my test case is reproducible for you and go from there? :slightly_smiling_face:

[2022-10-13 22:37] dimitry-ishenko commented on #465
Does anybody read or care about these issues?

[2022-10-14 06:04] bellenot commented on #465
Sorry for the long delay, maybe @vgvassilev or @Axel-Naumann can take a look?

[2022-10-14 11:34] vgvassilev commented on #465
Yes, we do. However, we have been spending most of our time to upgrade cling to use llvm13. There most of these issues are solved by the new orcv2 jit infrastructure. I would expect to work on this bug if one can reproduce it with llvm13.

[2022-10-14 12:32] Axel-Naumann commented on #466
FYI we don't *have* to use cpt - it's just driving CMake in the end. Many of us (including ROOT) build cling directly using CMake.

[2022-10-14 12:35] Axel-Naumann commented on #461
Do you have `jupyter-cling-kernel` "somewhere"?

[2022-10-14 17:45] dimitry-ishenko commented on #465
@bellenot @vgvassilev thanks guys. I get it now. @vgvassilev is the llvm13 branch available anywhere?

[2022-10-14 22:59] Axel-Naumann commented on #465
It's here: https://github.com/vgvassilev/root/tree/llvm13

[2022-10-15 02:15] jeaye commented on #470
Ok, following up on this with some additional information. I have done some more testing and found some interesting results.

1. If I use https://github.com/Axel-Naumann/cling-all-in-one to build Cling, rather than my own cpt usage, **the same problem exists**
2. If I use the precompiled Cling from [Nix](https://search.nixos.org/packages?channel=22.05&show=cling&from=0&size=50&sort=relevance&type=

[2022-10-15 06:56] vgvassilev commented on #465
You can pick it up also from vgvassilev/cling where I have the llvm and clang forks with the same llvm13 branches synced

[2022-10-15 06:58] vgvassilev commented on #470
Is there a chance to compare the compile flags for the working and non-working versions?

[2022-10-15 07:34] jeaye commented on #470
Nix is quite opaque, the way it builds things, so that would be tough. Looks like the Nix expr is here: https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/interpreters/cling/default.nix

If the test case is working for you on Linux, would you mind sharing your distro and build details so I can try to set that up locally?

I figured the cling-all-in-one repo would solve everything, since

[2022-10-15 20:02] dimitry-ishenko commented on #465
Thanks guys and sorry for high-jacking the issue. One more question for @vgvassilev: the branch I am looking for in your cling, llvm and clang projects is `cling-patches-llvm13`, correct?

[2022-10-15 20:31] vgvassilev commented on #465
Correct

[2022-10-15 20:34] vgvassilev commented on #470
I see that nix has a version 0.7 is this the version of the package? Did the rest have the same version?

[2022-10-15 23:31] jeaye commented on #470
Hmmm, interesting. Everything I've built (cling-all-in-one and cling with cpt) has been Cling 0.9, aside from the LLVM 13 branch, which is of course newer. I will try building 0.7 locally.

[2022-10-16 06:53] jeaye commented on #470
I have built 0.7 (with LLVM 5) locally, using cpt. Required some small patches to the code to compile, but you got it, Vassil :slightly_smiling_face: . The issue is not reproduced on 0.7.

Naturally, I built 0.8 next (also LLVM 5). It also works correctly, given my test case.

Finally, I built the 0.9 tag next (with LLVM 9) and verified the problem shows up! So this is something between Cling 0.8

[2022-10-16 14:22] Ivan-Igorevich commented on #461
how do I check it? I have those kernels listed in an issue, aren't they the ones I need?

[2022-10-17 08:55] thecodemonkey86 opened #472 "run entire projects"
REPL is neat, but to us it would be more useful to directly run entire projects, ideally those which are defined as qmake .pro-file or CMakeList. Is that possible yet?

[2022-10-18 03:21] dimitry-ishenko commented on #465
@vgvassilev FWIW it's still happening with the version of cling from your repo (https://github.com/vgvassilev/cling/tree/cling-patches-llvm13):

[code]
I see there are some additional patches in the ROOT version of cling (https://github.com/vgvassilev/root/tree/llvm13/interpreter/cling). Should I go ahead and try to cherry-pick them out of that repo?

[2022-10-21 22:51] SylvainCorlay opened #473 "An API to display the search directories (include and libraries) used by cling at runtime."
Is there a means to display the currently used include directories and other search directories?

(This is coming up in the context on some issue with respect to sysroot detection on OSX)

[2022-10-24 16:08] mrexodia commented on #203
Running into this issue now on macos 12.6 (M1 Pro). I ran `brew install cling` and the output of `.I` is:

[code]

Previously when I encountered this the problem was related to the `-resource-dir` not being correct. The issue was here: https://github.com/MaskRay/ccls/issues/853. How would I modify the include paths?

[2022-10-24 17:45] mrexodia commented on #203
It looks like running: `.include /opt/homebrew/Cellar/cling/0.9/libexec/lib/clang/9.0.1/include` fixes things!

[2022-10-24 22:23] mrexodia commented on #454
Running into the exact same issue with Visual Studio 2022. It would be helpful if there was some guide with the 'officially' supported Visual Studio versions.

I followed the instructions [here](https://root-forum.cern.ch/t/compiling-cling-on-windows-msvc-2022/47106/20) and used the Visual Studio generator instead of Ninja as suggested in some other thread:

[code]

http://root.cern.ch/git/llvm.gi

[2022-10-24 23:07] mrexodia commented on #454
Did some digging and it appears the bug was introduced in https://github.com/root-project/cling/commit/e20302182fde9b3964f701efe2ac5a7af140e79a

The fix included a check with `CMAKE_GENERATOR_PLATFORM`, which is not set unless you specify it manually. To fix this I replaced [this line](https://github.com/root-project/cling/blob/a3805bb26d8bd8284c1278d3d55d265bc2048f2a/tools/driver/CMakeLists.txt#L

[2022-10-25 06:18] SimeonEhrig commented on #473
Yes, you can get the include paths via the `gCling` object (type: `cling::Interpreter`).

[code]

Here is the [link](https://github.com/root-project/cling/blob/a3805bb26d8bd8284c1278d3d55d265bc2048f2a/include/cling/Interpreter/Interpreter.h#L458) to the function declaration of `GetIncludePaths`.

[2022-10-25 06:52] bellenot commented on #454
See [Building ROOT from source](https://root.cern/install/build_from_source/). The recommended way is to specify the platform (`-A Win32` or `-A x64`). But I'll check nevertheless

[2022-10-25 07:21] mrexodia commented on #454
Yeah that also makes sure Ninja doesn’t work for x64…

[2022-10-25 08:00] mrexodia commented on #454
Will also add a few more commits later today. The Cling CMake package is also broken and there is this issue related to _MSC_VER that (apparently) breaks tablegen with VS2022.

[2022-10-25 08:48] bellenot commented on #454
There are 19 occurrences of `CMAKE_GENERATOR_PLATFORM` in ROOT. I'll check what can be done

[2022-10-25 10:08] mrexodia commented on #454
I somehow managed to open a PR on my own repo, here is a PR to the root project: https://github.com/root-project/root/pull/11632

[2022-10-25 13:16] #454 closed

[2022-10-27 14:02] pdeitel commented on #421
Any updates on this?

[2022-10-27 14:04] SimeonEhrig commented on #421
Yes, there is a PR https://github.com/root-project/root/pull/10294.

[2022-10-28 19:47] pankajkumar229 opened #474 "scanf does not work in cling"
- [x] Checked for duplicates

### Describe the bug
scanf does not work in cling, only cin does.

### Expected behavior
scanf should issue a prompt like cin does

### To Reproduce
#include <stdio.h>
int n;
scanf("%d", &n);

[2022-10-30 08:05] SylvainCorlay commented on #440
@serge-sans-paille was able to figure it out, and patched the conda recipe for cling 0.9 in the following way:

https://github.com/conda-forge/cling-feedstock/pull/54/commits/f42b723d69bb8f88429c85fdfdff1a55460e92b9

[2022-11-02 10:28] SylvainCorlay commented on #440
@Axel-Naumann let me know if this solution is useful to you.

[2022-11-02 12:13] SylvainCorlay opened #475 "[Conda packaging] libcxx version and conda "run exports" on OSX"
Currently, the conda package for clang on OSX has a "strong run export" on libcxx, this means that any package built with clang will depend on the corresponding libcxx conda package at runtime. Most typically, the mechanism of "strong" run export is used to create a runtime requirement on the compiler runtime for artifacts built with this compiler.

The version of clang used to build packages at t

[2022-11-02 22:46] SylvainCorlay commented on #473
Thanks!

[2022-11-10 07:36] Axel-Naumann commented on #461
You could use `find`. All I know now is that Python cannot find the command `jupyter-cling-kernel` so it's not in your `$PATH`.

[2022-11-14 11:41] Axel-Naumann opened #477 "`.cling_history` shouldn't grow infinitely"
### Explain what you would like to see improved

`.cling_history` currently grows without limits, we have some that are 144M.

### Optional: share how it could be improved

We probably want both:
1. drop the oldest entries, such that it remains < 1M or so.
2. prevent the cling test suite from adding to the history - that's useless.

[2022-11-20 05:23] jeaye commented on #470
I've fixed this, Vassil. The issue was on my end all along. I was building jank with my system Clang and, even though I aimed to match the versions, apparently there were differences. If I instead build Cling first, and then use Cling's Clang to build jank, everything lines up better and this issue goes away.

I've updated my build system and docs to require building Cling first and then building

[2022-11-20 05:23] #470 closed

[2022-11-20 12:57] vgvassilev commented on #470
Glad to hear it is resolved!

[2022-11-30 09:44] rppp opened #478 "bug for ./cpt.py --create-dev-env Debug --with-workdir=./cling-build/"
[ 91%] Linking CXX static library ../../libLLVMX86CodeGen.a
[ 91%] Built target LLVMX86CodeGen
make[1]: *** [CMakeFiles/Makefile2:54418: tools/cling/tools/driver/CMakeFiles/cling.dir/rule] Error 2
make: *** [Makefile:12523: cling] Error 2
subprocess.CalledProcessError: Command 'make -j 24 cling' returned non-zero exit status 2

My system is:

Distributor ID: Ubuntu
Description:    Ubuntu 20.04.5 L

[2022-11-30 12:53] SimeonEhrig commented on #478
Typical Error 2 is thrown, if your linker is running out of memory. For building a debug build with 24 threads you need in peak 70GB RAM. I suggest to set manually the number of cores via the argument `--number-of-cores`.

8GB RAM per thread is safe. 4GB per thread my also work.

[2022-11-30 13:41] rppp commented on #478
my memory is enough, this is the error

[ 95%] Building CXX object tools/cling/lib/Interpreter/CMakeFiles/obj.clingInterpreter.dir/AutoSynthesizer.cpp.o
[ 95%] Building CXX object tools/cling/lib/Interpreter/CMakeFiles/obj.clingInterpreter.dir/AutoloadCallback.cpp.o
[ 95%] Building CXX object tools/cling/lib/Interpreter/CMakeFiles/obj.clingInterpreter.dir/ASTTransformer.cpp.o
/home/rs/cling-build/